[2019-09-16 16:30] thatbudakguy opened #1 "As a google sheets user, I want a spreadsheet generated that matches the agreed upon data model and fields for tracking PEMM manuscript data, so that I can import and add project data."
# testing notes
we can test this by starting to enter the first few entries from the macomber text file. note that we are shifting validation-related stuff to #8 .

# dev notes
## all
<s>allow resize permissions for all locked fields</s>
apparently, this is impossible: [google support forum question](https://support.google.com/docs/forum/AAAABuH1jm0Dd-xrFT_BAM/?hl=nl)
we will just need to set the

[2019-09-16 16:37] thatbudakguy opened #2 "update data model diagram"
once #1 is complete we'll need to generate a new data model diagram and update our documentation.

[2019-09-16 16:41] thatbudakguy opened #3 "add README"
we do now have a README as part of v0.1, but it's out-of-date with respect to the new "bound script" strategy and will need to be updated to reflect the correct way to "install" the code in a spreadsheet.

[2019-09-17 13:38] thatbudakguy opened #4 "add LICENSE"

[2019-09-19 19:19] thatbudakguy opened #5 "pull out spreadsheet config into a single data file"
going to start by just organizing this as JSON, but we could explore some kind of interchange format that could be consumed by davila, etc.

[2019-09-19 20:10] thatbudakguy opened #6 "implement clasp commands as yarn/npm scripts"
this would allow a developer to do things like create a new master data spreadsheet by running a single command, e.g.
[code]
which would then use `clasp` to call the top-level function that creates a new google sheet.

[2019-09-23 16:30] thatbudakguy opened #7 "set up dev environment to support bundling"
this is a requirement for #5, since out-of-the-box `clasp` doesn't support bundling/modules when developing locally, and thus we can't `import` json (or anything else).

going forward, it will allow organizing pemm code into modules, and more control over what is exported as a runnable method (from the apps script editor or through `clasp`). this is accomplished via a [webpack plugin](https://www.

[2019-09-30 20:12] thatbudakguy commented on #1
- manuscripts get a "name" column that is autogenerated in the format `HMML (EMML) 23)` (institution-collection abbrev-id)
- incipit source pulls from this field.
- story instance - manuscript also pulls from this field.

[2019-09-30 20:24] elambrinaki commented on #1
"Collection" sheet:
- allow a resize permission for the "Name" column
- Switch the order of "Institution" and "Abbreviation" columns: abbreviation is the second column, institution is the third column; the name formatting remains the same: Institution (Abbreviation)
- "Latitude" field: the data validation is wrong

"Manuscript" sheet:
- "Total Folios" and "Total pages": only numbers allowed
- "Cen

[2019-10-01 16:11] thatbudakguy opened #8 "As a google sheets user, I want validation that prevents me from entering the wrong type of value in a field so that I can avoid preventable errors."
## Notes for testing
- Collection
   - validation for latitude and longitude fields
- Manuscript
   - total folios and total pages should only allow numbers
   - century should be limited to allowed values and format as ##.00
   - date range start and end should require 4-digit year
- Canonical Story
   - Macomber ID should require number with optional -A through -F or -A1/A2
- Story Instance
   -

[2019-10-01 19:48] #7 closed, assigned to nobody

[2019-10-01 19:48] #5 closed, assigned to nobody

[2019-10-01 19:49] #4 closed, assigned to nobody

[2019-10-03 15:50] thatbudakguy opened #9 "As a researcher, I want to see the order of story instances in a manuscript so that I can investigate its correlation to other properties."
this will be populated automatically for manuscripts in PETH, but generated based on spreadsheet data for other manuscripts.

[2019-10-07 16:12] rlskoeser commented on #1
Note: logic for autogenerating Order in Manuscript is not implemented at this time (it's not a simple calculation, since it has to include folio as well as line and column); do not include it when testing this feature.

[2019-10-24 16:07] WendyLBelcher commented on #1
### Comments from testing

Okay, re "Collection" sheet:

- allow a resize permission for the "Name" column (this is not yet done; it won't allow you to expand it so you can see what is there)

- "Latitude" and Longitude field:   it actually does let you put them both in decimal form, so that's good. But the data validation message comes up anyways and is wrong. It is asking for degree input. Can y

[2019-10-28 14:44] elambrinaki commented on #1
Globally, can we make column expansion automatic? (adjusting the width of the columns depending on the content)

"Manuscript" sheet:

- "Century" field: format [two digits_dot_00/25/50/75] (to prohibit 5.25 for instance; the century number is a two-digit number)
- "Date Range End" number should be greater than "Date Range Start" number
- Did we decide to delete "Page Reproduction" field? It has be

[2019-10-28 14:48] elambrinaki commented on #1
"Story Origin" sheet:

- Can we add a third column, "Country", in case the country is known (e.g., Europe in the column "Region", and France in the third column "Country")?

The drop down of countries listed there should be
France
Germany
Italy
Spain
Belgium
Poland
Russia
Israel
Syria
Egypt
Ethiopia
Other

[2019-10-28 14:51] WendyLBelcher commented on #1
Re Story Origin third column of "Country." The drop down of countries listed there should be
France
Germany
Italy
Spain
Belgium
Poland
Russia
Israel
Syria
Egypt
Ethiopia
Other

[2019-10-28 14:56] elambrinaki commented on #1
"Story Instance" sheet:

- "Column end" value should exceed the "Column start" value
- The same for the "Line end" and "Line start"
- Incipit field: needs to be the broadest to make typing easier

[2019-10-28 14:58] WendyLBelcher commented on #1
In the Story Instance sheet, they will spend the most time in the "Incipit" field, where they will be typing in fidel and matching and going back and forth between it and the manuscript. It will take time. That field, therefore, should be much broader, so they can see at least half of what they have typed. Maybe it could be expanded to four or five times it's current breadth.

[2019-10-28 15:07] WendyLBelcher commented on #1
We don't recall why Story Origin was separated out as a sheet. We think it would be better to have its columns of Region and now Country appear on the Canonical Story sheet. That way, the person entering can see the title while entering the information. So, for instance, the first one on the Canonical Story sheet there now is Macomber 1-A, Theophilius of Alexandria. So, one would just go over seve

[2019-10-28 15:10] elambrinaki commented on #8
### Notes after testing

Story Instance

- folio validation: numeric value (from one to three digits) with optional r,v,a,b (currently only one-digit numbers can be entered)
- "Column start/end" -- validation no more than a single digit (please add this validation)
- "Line start/end" -- no more than two digits (please add this validation)

Story instance sheet

- Number of paintings - no more than

[2019-10-28 15:14] WendyLBelcher commented on #8
Story instance sheet
Number of paintings - no more than one digit

[2019-10-28 15:43] WendyLBelcher commented on #1
Story Origin--add a City column as well as the country. No validation on city.

[2019-10-28 15:44] elambrinaki commented on #1
Re using Hamburg database:

- Their "Manuscript" sheet has information we need for PEMM "Manuscript" sheet
- Their "Institutions" sheet corresponds to PEMM "Collection" sheet
- If we import information from Hamburg "Institutions" sheet, we might need to add more columns to match theirs, e.g. "Note" column ("formerly part of the British Museum")
- "Title" in Hamburg "Institutions" sheet = "Institut

[2019-10-31 16:33] elambrinaki commented on #1
Everything else works great

[2019-12-05 20:13] thatbudakguy commented on #1
since only validation-related issues remain; closing this as per discussion at 12/5 mtg.

[2019-12-05 20:13] #1 closed, assigned to nobody

[2019-12-11 19:25] rlskoeser commented on #8
As decided in the meeting last week, we will not add any new validation or constraints that go beyond the _type_ of value (numeric, string, etc).

Only change to be tested is that the folio validation allows more than one digit (previously version only allowed one digit).

[2019-12-12 15:48] WendyLBelcher commented on #8
The validation for the Folio column in the Story Instance Sheet works, but the column needs to be split into two columns: Folio Start and Folio End. They should both have the same validation they currently have. And they should be inserted the in this column order: "Folio Start, Column Start, Line Start; Folio End, Column End, Line End."

[2019-12-17 15:17] rlskoeser commented on #8
Have generated a new test spreadsheet for review. Please confirm that the Folio/Column/Line fields are present and ordered as requested, and that folio validation is working properly on both Folio Start and Folio End.

[2019-12-18 00:44] WendyLBelcher commented on #8
Yes, thank you. it looks good!

[2019-12-18 14:35] #8 closed, assigned to rlskoeser

[2020-01-21 17:20] rlskoeser opened #10 "test csv export into google sheets"
check that import doesn't disrupt headers, formatting, validation

[2020-01-21 17:21] rlskoeser opened #11 "As a researcher, I want the structured text file and incipits parsed into canonical stories, story instances, and manuscripts and imported into Google Sheets so I can work with the data in a more structured form."
- [x] document functions/methods
- [x] put generated file in an output folder that is git ignored; maybe add datestamp to filenames?
- [x] mss ids like PEth 41.8 and EMIP 601.225 should only use the number _before_ the period. The number after the period should go in the order field - applies to PUL, EMIP, and maybe EMDL.
- [x] If there is a question mark after the period, ignore it (#.?)
- [x] fo

[2020-01-21 17:21] rlskoeser opened #12 "augment script to pull in required extra data (incipits, BM data)"

[2020-01-21 17:22] rlskoeser opened #13 "investigate implementing incipit lookup in google sheets"
investigation confirms that:
- we can create new UI elements to host the incipit search (menu, sidebar)
- we can make async calls to a web service (tested w/ github json api)
- we can have the user use fetched data to populate the sheet

[2020-01-21 17:23] rlskoeser opened #14 "As a researcher, I want data from Google Sheets automatically synchronized to a GitHub repository in CSV format so that I have a versioned backup of the data."
## Notes for testing
Changes to the test spreadsheet **TEST PEMM 2020-02-21** should be propagated to this test github repository: https://github.com/Princeton-CDH/pemm-qa-data
Right now, the script is configured to run every 15 minutes.
- [ ] if you edit the spreadsheet, the corresponding CSV on GitHub should be updated the next time the script runs (you can use the commit log to see the change)

[2020-01-22 17:24] rlskoeser commented on #10
Successfully tested with one of our test pemm spreadsheets and preliminary data from parsing macomber.

With the google sheets document open:
- File -> import file
- upload / choose file
- choose **append** to current sheet

You need to have the correct sheet open for the CSV you want to import.

The CSV files will need to be generated without header rows for this to work properly, but I think tha

[2020-01-22 17:50] rlskoeser commented on #10
Interestingly, when I try to import preliminary output into the Manuscripts sheet this does **not** work - it silently fails. (No error, no data added to the sheet). I think this may be related to our lookup field for the manuscript collection; import still fails even when I have values that should be valid.

_However_, when I instead position my cursor at the first empty data field and choose "Re

[2020-01-22 18:49] rlskoeser commented on #10
This may actually be a problem for fields with custom formulas (e.g. canonical story title on story instance sheet). Importing from CSV using replace data replaces the formula; putting the formula into the csv as is means that every field references the first row.

[2020-01-28 15:13] rlskoeser commented on #10
We know the issues with this now, and have a plan for addressing, so I think the chore for testing export can be considered complete.

[2020-01-28 15:13] #10 closed, assigned to rlskoeser

[2020-01-28 15:29] thatbudakguy commented on #13
one notable consequence of this is that the implementation of the project will change from a ["standalone script" ](https://developers.google.com/apps-script/guides/standalone) to a ["container-bound script"](https://developers.google.com/apps-script/guides/bound), because this is a prerequisite for being able to manipulate the UI of a google sheet.

the major difference is:
- standalone scripts s

[2020-01-28 15:32] thatbudakguy commented on #6
some of the relevant commands have already been moved to npm scripts, but since we're moving to a container-bound script implementation (see #13) we can instead implement these commands as actual UI options (e.g. from a custom menu) in the sheet itself.

[2020-01-28 15:32] #6 closed, assigned to nobody

[2020-01-28 15:36] thatbudakguy opened #16 "As a researcher, I want to easily compare story incipits in Google Sheets against known high-confidence incipits so that I can select the story represented in the data."
# dev notes
this is the UI implementation of #13, the incipit search functionality. it could be dependent on a chore or other backend work to write the web service that will send data to the UI.
## checklist
### client (script embedded in sidebar)
- [ ] incipit search request (pick a particular incipit and send it to server to do search)
- [ ] incipit search success handler (update sidebar content

[2020-01-28 15:37] thatbudakguy commented on #13
implementation now tracked on #16.

[2020-01-28 15:37] #13 closed, assigned to nobody

[2020-01-28 20:43] thatbudakguy opened #17 "As a researcher, I want to apply schema and data validation to an existing sheet so I can import data as a starting point."
# dev notes
as a consequence of switching to the "bound script" model (see #13 for more details), we will want to convert all of the spreadsheet setup logic to work with the assumption of an existing sheet, potentially already populated with data, in a non-destructive way.

# testing notes
to test this, have a look at [the "issue 17 testing" folder](https://drive.google.com/drive/folders/1qMayNTiB

[2020-01-30 19:31] rlskoeser opened #20 "spreadsheet field changes and additions"
- [x] Rename “Order in Manuscript” to “Miracle Number”
- [x] Remove incipit from canonical story
- [x] Add macomber incipit boolean to story instance
- [x] Add a notes field as the last column of each sheet
- [x] add "English Translation" field to canonical story sheet
- [x] add "Print Version" field to canonical story sheet; remove from story instance sheet
- [x] Move "Number of Stories” column n

[2020-01-30 19:35] rlskoeser commented on #12
Decided to hold off on pulling in extra data, since it's not a blocker for current work, just something we want to have eventually. Including incipits is now part of #11

[2020-01-30 19:35] #12 closed, assigned to nobody

[2020-01-30 19:38] rlskoeser commented on #20
Documented based on meeting notes and comments on the current test version of the spreadsheet.

Question: should "other ids" and "other titles" be removed (or renamed)? They strike me as not useful; I think we will want specific fields for specific ids and titles.

[2020-02-03 16:18] rlskoeser opened #21 "As a researcher I want to search on high-confidence incipits so that I can check results that will be used in the sheets incipit lookup tool."
# dev notes
[flask testing docs](https://flask.palletsprojects.com/en/1.1.x/testing/?highlight=tests#the-testing-skeleton)

[2020-02-03 16:19] rlskoeser opened #22 "script to index incipit data in Solr"

[2020-02-03 16:19] thatbudakguy commented on #17
based on conversation with @rlskoeser today:
- Simplest version: import 3 CSVs, apply validation
- Remove header after sanity checking auto-added header
- Don’t worry about repeat validation for now
- Find out from Wendy how many more rows (ballpark) she expects to add for each sheet

[2020-02-03 16:21] rlskoeser opened #23 "create ansible deploy scripts for pemm"

[2020-02-03 22:01] rlskoeser commented on #21
@WendyLBelcher when you get a chance, please provide a list of any words you'd like treated as synonyms when you search on the incipits (you mentioned that numbers are listed as both numerals as words in our last meeting).

[2020-02-04 16:39] WendyLBelcher commented on #21
On it.

[2020-02-05 20:28] #22 closed, assigned to nobody

[2020-02-18 16:14] WendyLBelcher opened #25 "Changes to PEMM Google Sheet and Incipit Tool"
PEMM Google Sheet columns
Story Sheet
One aim we have is to distinguish the relative length of story instances. To do that, we need to be able to calculate accurately the number of characters in the story. To do that, we need a little more information collected by the cataloger. So, we need to add some columns.
- So, please add the following columns, after the Column "Line End"

- Columns per page

[2020-02-18 16:16] WendyLBelcher commented on #11
Just a note to say that the issue of "mss ids like PEth 41.8 and EMIP 601.225" is important.  Just in case it is getting lost in the mix. I don't know how to comment field!

[2020-02-18 19:10] rlskoeser commented on #11
@WendyLBelcher it's on my list! I'm sorry I haven't been able to get back to it yet. I started looking at it but discovered I needed to add some tests before I updated my script because I'm handling so many different cases now, and was worried about breaking things I already have working...

[2020-02-19 13:57] WendyLBelcher commented on #17
I'm testing. I imported the Manuscripts sheet. The heads in that sheet have two matching problems.  Here is a screenshot. First, Total Stories in the second row is the correct wording of the head, but it should appear under what is called Number of Stories in the first row. Second, the Note column in the second row should appear in the Manuscripts sheet. Every sheet should have a Note field.
![Scr

[2020-02-19 14:06] WendyLBelcher commented on #17
I imported the Story Instance sheet. One head doesn't match, and the wording in a few cases is off. First, Order of Miracle in the first row should be worded as it is in the second row: Miracle Number. Second, Macomber incipit in the second row should appear in the first row, and Note in the second row should appear in the first row. Third, Print Versions in the first row should be deleted; it app

[2020-02-19 14:27] WendyLBelcher commented on #17
I imported the Canonical Story Instance sheet. We need the Incipit and Incipt Source from the first row, and the English Translation | Print Version | Notes of the second row.
![Screenshot testing Feb 19 2020 canonical](https://user-images.githubusercontent.com/56000106/74843387-d27d9000-52f9-11ea-9ec9-73842cc7daa1.png)

[2020-02-19 14:28] WendyLBelcher commented on #17
I did not do steps 12-15, as I assumed we needed to correct the matching. One concern I have is that I corrected the heads based on my memory of what should happen. I should really go and check the meeting logs for decisions on them.

[2020-02-19 14:43] thatbudakguy commented on #25
Let's keep this issue for discussing the proposed schema changes, and I'll move the synonym/incipit-tool related material to a new issue (#27).

[2020-02-19 14:47] thatbudakguy opened #27 "As a researcher, I want my incipit searches to take common synonyms into account so that my search results are more relevant."
# notes
initial request from @WendyLBelcher posted in #25:

See also: Solr documentation on synonyms
https://lucene.apache.org/solr/guide/6_6/managed-resources.html#ManagedResources-Synonyms

[2020-02-19 15:01] thatbudakguy commented on #25
For "columns per page", "lines per column", and "characters per line" - are these properties of a particular story instance, or of a manuscript? That is, are manuscripts consistent about the number of columns, characters per column, etc. throughout? Conversely, are there instances where they change _per page_ (maybe just some anomalous pages within stories)?

[2020-02-19 15:02] thatbudakguy commented on #25
For "Ethiopic story number" - where does this come from? Is it a property of a story instance, or of a canonical story?

[2020-02-19 15:03] thatbudakguy commented on #25
For "story incomplete" - could we just store this information in the existing notes field, perhaps with a tag like "INCOMPLETE"?

[2020-02-19 15:45] WendyLBelcher commented on #25
Re "columns per page", "lines per column", and "characters per line" @rebeccakoeser and I discussed this and they are properties of a particular story instance. That is, manuscripts vary so much that we might as well do it per story. One manuscript will have a first section that is one column, and a second with two, and written by two different scries, one with cramped handwriting, one with wide.

[2020-02-19 16:04] WendyLBelcher commented on #25
Re Ethiopic Story Number, this is for the Story Instance sheet. This was Vita's suggestion. Some of the manuscripts actually give a number in the manuscript, in fidel, for each story. Like, a big 55 in the margin before the 55th miracle story in the manuscript. This number will most likely match what is in the Story Number field, but sometimes it won't and it will help catalogers to find the story

[2020-02-19 16:05] WendyLBelcher commented on #25
Re Story Incomplete (with validation set to Yes, No), it is important to have that column. It's kind of like that High confidence, medium confidence, low confidence column on the incipit, but for character count. That is, let's say we have 100 manuscripts with the cannibal story. 75 of them are around 2,000 characters long; 24 of them are around 1500 characters long; and one is 500 characters long

[2020-02-21 16:45] rlskoeser commented on #17
- Tested importing manuscript CSV, renaming, and setting up a single sheet — works as expect. Header was created, and values match.
- Tested importing multiple CSVs, renaming, and setting up all sheets — extra sheets were created, validation was added. Looks like everything works as it should.

I did notice that the header on the manuscripts sheet was duplicated when I ran set up all sheets — is t

[2020-02-21 17:04] rlskoeser commented on #17
@thatbudakguy should a simplified version of these setup notes be added to the readme?

[2020-02-21 17:05] rlskoeser commented on #11
Increasing from 3 to 5 pts for the complexity of handling variation in manuscript references and available information.

[2020-02-21 17:09] WendyLBelcher commented on #20
Seems to be a little glitch in the Manuscripts sheet. It has a missing head in the second row for the column Total Stories. It says "0" instead of "Total Stories".

[2020-02-21 17:26] WendyLBelcher commented on #20
Re Manuscripts sheet, the first column in the second row is titled "Collection ID". But, the title in the first row is "Name." Neither is the right title. This column needs to be renamed "MS Name" or "Manuscript Name. My suggestion of a new column title was based on my own confusion just now on what information was in that column. I know that it is the Manuscript sheet, so we should know Name is M

[2020-02-21 17:33] WendyLBelcher commented on #20
Re Manuscript sheet, but in general also, I don't like when fields with numbers sort prioritizing the first number and not its actual meaning. Thus, in column "ID" we get this nonsense order: 1 10 ... 19 2 20 and so on . Can we (1) number manuscripts starting with 0 or (2) change how those fields sort? The second seems possible because the "Macomber ID" in Canonical Sheet does not have the nonsens

[2020-02-21 18:33] rlskoeser commented on #20
@WendyLBelcher

- Do you want *Manuscript Name* and *Manuscript ID* for field labels? (Sounds fine to me, just want to  confirm what labels we should use)
- It looks like I'm sorting them as text instead of numbers. From what I can see, they're all numeric except for EMML (HMML) 91a, is that a typo? If it is, then I should be able to update to sort numerically (which agree would be much easier to

[2020-02-21 18:40] WendyLBelcher commented on #20
Re Canonical story, mostly sheet looks good. But, the Story Origin field doesn't seem to be working. And, we will need to import those Hamburg numbers from here. It should be straightforward, just matching them with Macomber numbers and dumping their into Hamburg ID. https://docs.google.com/spreadsheets/u/1/d/1VsCljxWcCa0E4hTKRPnyKuAgb-edXTQKVpaYG6LwVCE/edit#gid=0

[2020-02-21 18:45] WendyLBelcher commented on #20
Re Collection sheet, one title did not come through. "Collection Name" is empty in second row. So, just a tiny problem. No others seen. (Later, I need to get the Lat/Long data and enter it.)

[2020-02-21 18:54] WendyLBelcher commented on #20
Yes, these would be good field labels:  Manuscript Name and Manuscript ID

[2020-02-21 18:54] WendyLBelcher commented on #20
Re the 91a, yes, that's garbage,  now corrected.

[2020-02-21 18:58] WendyLBelcher commented on #20
By the way, I just created a spreadsheet with the Hamburg IDs, matched up to Macomber IDs. It might be useful to important those Hamburg identifiers (using the Macomber IDS) sooner rather than later. That's because Hamburg has given the miracles helpful names, which may help us with some of the profusion. https://docs.google.com/spreadsheets/d/1VsCljxWcCa0E4hTKRPnyKuAgb-edXTQKVpaYG6LwVCE/edit#gid=

[2020-02-21 20:02] WendyLBelcher commented on #20
Re the Story Instance sheet, and the Miracle Number and Manuscript Number fields.
Collections with dashes and only one number are coming in not quite right (e.g., C-1 or CBS-30 or G-1). Those numbers are the Miracle Number, not the Manuscript Number (which in every case is "1").. So, the following four collections with only one manuscript have to be treated differently: C-, CL-, CBS-, and G-.

To

[2020-02-21 20:09] WendyLBelcher commented on #20
Re the Story Instance sheet and various fields with numbers, can we have the following fields sort numerically, not textually:
Canonical Story ID
Folio Start | Column Start | Line Start | Folio End | Column End | Line End | Miracle Number  |
Number of Paintings

[2020-02-21 20:21] WendyLBelcher commented on #20
Re the Story Instance sheet and the Folio Start and Folio End fields, I would like to standardize the abbreviations for recto and verso. Right now I sometimes used a/b for them and sometimes used r/v. So to correct that, when importing "Folio Start" and "Folio End," let's convert all "r" to "a" and all "v" to "b". So "6938 (39v); 4618 (120r)" would come in as "6938 (39b); 4618 (120a)".

[2020-02-21 20:23] thatbudakguy commented on #17
@rlskoeser it's a good question. my instinct is that they sort of apply directly enough to the project data that they aren't really instructions for setting up "local dev", and so don't need to be in the README. we could maybe add a note that, once you create a spreadsheet, you could proceed to import data and then run some of these functions.

[2020-02-21 20:23] thatbudakguy commented on #17
maybe they're more like DEPLOYNOTES?

[2020-02-21 20:29] rlskoeser commented on #17
@thatbudakguy I like that idea — that way we can document the process for converting the  macomber text file to csv and setting up the initial google sheets doc with validation.

[2020-02-21 20:32] rlskoeser commented on #20
We discussed standardizing recto/verso and I forgot, thanks for coming back to it and telling me exactly how to convert it.

I don't understand your comment about sorting the story instance sheet, however it's not really practical - the story instance rows are based on the order they occur in the macomber text file, and I'm not sure how practical it would be for me to sort them. It should already

[2020-02-21 20:34] WendyLBelcher commented on #20
Re the sorting, I used the wrong word. This is the ordering issue we discussed in Slack of numerical versus textual ordering. Does that help? You said "It looks like I'm sorting them as text instead of numbers. From what I can see, they're all numeric except for EMML (HMML) 91a, is that a typo? If it is, then I should be able to update to sort numerically (which agree would be much easier to work

[2020-02-21 20:53] WendyLBelcher commented on #20
Re the **Story Instance sheet and Folio End field**, we are automatically importing the folio numbers into both the Folio Start and Folio End field. I vaguely remember we might have even said that we should do that in a meeting or something. But, it's not correct. We only do that for three collections, PEth, EMDL, EMIP, and even then only in exceptional cases, when they do not actually have a Foli

[2020-02-21 21:50] WendyLBelcher commented on #20
Re the **Story Instance sheet and the Miracle Number field**, we need to generate this Miracle Number field when it is absent (through a calculus using the number of Canonical Stories in a manuscript? Or by number of Folio Starts in a particular manuscript?).

[2020-02-21 22:22] WendyLBelcher commented on #20
Re the **Story Instance Sheet and the Macomber field,** I'm not sure if there is a problem or if my use of sort is causing the problem. I use sort to see patterns, but in Excel, if you sort one column, the rest sort along with it. So, maybe Google Sheets is not like that and when I sort one column, the other stay fixed.

Nevertheless, I think we have a problem with the Macomber IDs and Story Title

[2020-02-24 15:57] rlskoeser commented on #17
@thatbudakguy I think the longitude validation rule got lost in the refactor — it's defined, but I don't see it being applied anywhere.

Other than that, I think the functionality for setting up the sheets and applying validation is working well and I'm willing to sign off once the missing validation is fixed (unless you want to make the case for folding that into other data model changes).

[2020-02-24 16:28] thatbudakguy commented on #17
@rlskoeser just confirmed that this was the case. I've re-added the application line.

[2020-02-24 22:49] rlskoeser commented on #20
@WendyLBelcher thanks for all your careful testing and comments.  Some responses.

- Thanks for explaining about the collections with a single manuscript. I understand and have made a note to update the import script accordingly.
- I understand now what you mean about the fields sorting numerically instead of alpha — you mean when you sort the data to investigate it. I think we can do that, I'll m

[2020-02-24 23:00] rlskoeser commented on #20
Actually, I misspoke when I said we could do this — we can do it for some fields, but not for all of them. Canonical story id includes letters in some cases and folio start and end always do, so it's not possible to sort them numerically (at least, not that I know of within google sheets or excel).  The others that are strictly numeric can be, but I'm not sure how valuable that is without being ab

[2020-02-25 15:30] WendyLBelcher commented on #20
Re the text file and the collection called LUE and where its numbers go. The first is a manuscript number in the Manuscript sheet, the second is a miracle number in the Story Instance sheet.

You should ignore what follows, this is just for Wendy. Later, I'm going to do some alterations to that number, since the 30 should be 11, so I want to note that here:
LUE **30**-40; should become L-Uppsala M

[2020-02-26 17:18] WendyLBelcher commented on #20
Nic is working on letting workers adjust column lengths. right now, the main place where it creaqtes a problem for the user is the **Canonical Story Title** field on the **Story Instance** sheet. It doesn't show anything when one hover over the cell or clicks on it.

[2020-02-26 17:19] WendyLBelcher commented on #20
Wendy made a mistake in the original data for repositories.  I have three collections at the repository of the Bibliothque Nationale. For two collections I gave the repository abbreviation as BN and for one I have BNF. So, I need to change that somewhere so that the repository of the Bibliothque Nationale always appears as BNF.

[2020-02-26 20:59] WendyLBelcher commented on #20
So far as my comments are concerned, you can **ignore everything above**. What follows are the only things left to do:
For Manuscript Sheet:
- [x] Rename column head "Name" on Manuscript sheet as "Manuscript Name"

[2020-02-26 21:28] WendyLBelcher commented on #20
For Canonical Story Sheet:
- [x] make Hamburg ID field not protected (data at https://docs.google.com/spreadsheets/d/1VsCljxWcCa0E4hTKRPnyKuAgb-edXTQKVpaYG6LwVCE/edit#gid=0  )

[2020-02-26 21:29] WendyLBelcher commented on #20
For Collection sheet:
- [x] For conversion of text file, change 'SGE': 'S-Paris (BNF)',
- [x] For conversion of text file, change  'ZBNE': 'Z-Paris (BNF)',
- [X] Solve how C- manuscript and miracle number come in (done)
- [X] Solve how CL- manuscript and miracle number come in (done)
- [X] Solve how CBS- manuscript and miracle number come in (done)
- [X] Solve how G- manuscript and miracle number

[2020-02-26 22:01] WendyLBelcher commented on #20
For Story Instance sheet:
- [ ] Rename column head as "Canonical Story Title" (maybe this was already done?)
- [x] let workers adjust column width for Canonical Story Title field on the Story Instance sheet
- [ X] Generate the Miracle Number from the Folio Start numbers; use other program.

[2020-02-27 22:05] rlskoeser commented on #17
Applying validation via the new menu is working well. The problem I had with not being prompted to sign seems to have been a transitory outage yesterday, it's working fine today.

[2020-02-27 22:05] #17 closed, assigned to rlskoeser

[2020-02-29 16:38] WendyLBelcher opened #28 "Move Latitude Longitude"
- [ ] Move the Latitude and Longitude fields from the Collections sheet to the Manuscript sheet.
- [ ] Ensure that "#N/A" does not show up as the title for Macomber IDs of 100 through 118 on the Story Instance sheet.

[2020-03-02 11:55] elambrinaki opened #29 "Problem with importing manuscripts separated by ";" without repeating the manuscript name"
On the Story Instance sheet, there are repeating rows, which I assume is the result of import of the manuscripts that are separated by ";" with no manuscript name repeated.

For example, on the Story Instance sheet, Canonical Story ID 404 is matched to G-Vatican (BAV) 92 three times. In the primary source, MAC0404 is listed in three different G-Vatican (BAV) manuscripts (GVE 92(7a); 146(69b); 242(

[2020-03-02 17:46] WendyLBelcher commented on #20
-[ ] For conversion of text file, change 'BM 2': 'B-Oslo (SCOL)',
-[ ] For conversion of text file, change 'BM 3': 'B-Dublin (CBL)',

[2020-03-02 18:45] rlskoeser commented on #11
Problem documented by @elambrinaki on https://github.com/Princeton-CDH/pemm-scripts/issues/29

- [x] fix logic for repeated manuscripts within one repository

[2020-03-02 18:45] WendyLBelcher commented on #11
- [x] For conversion of text file, change 'BM': 'B-Oslo (SCOL)',
- [x] For conversion of text file, change 'WBLE': 'W-London (BM)',

[2020-03-02 18:46] rlskoeser commented on #29
@elambrinaki thanks for identifying this problem and providing examples. I'm moving it to #11 since it's a problem I need to correct before we can complete that one.

[2020-03-02 18:46] #29 closed, assigned to nobody

[2020-03-02 19:32] #20 closed, assigned to rlskoeser

[2020-03-02 19:32] WendyLBelcher commented on #20
I think this is done. I had one thing here remaining, but I suspect it has been addressed already, so I'm closing. The one thing: Rename column head as "Canonical Story Title" (maybe this was already done?)

[2020-03-02 19:42] rlskoeser commented on #20
@WendyLBelcher I left that unchecked because I couldn't figure out anything that needs to be done — but I guess that means that it has _has_ already been done.

Thanks for closing the issue.

[2020-03-05 19:41] thatbudakguy commented on #21
changes to make here as of 3/5 meeting:
- [x] **increase phrase boosting**
- [x] **fix highlighting of multiple terms**
- [x] synonyms (#27)
- [ ] ngram filter

[2020-03-06 15:46] WendyLBelcher commented on #21
- [x] check not "if ሐ, find ኃ" but rather "if ሐ, find ሐ or ኃ" Possible?

To explain the above check box:
I am testing the incipit tool with Vita's incipits. Here are some things I found:
First, the character exchange is working.
So, ሐ is, in effect, the same as ኃ and it found it:
አሐው፡
found
አኃው
However, it did not turn up any words with the original character, which might mean it doesn't exist, bu

[2020-03-06 15:48] WendyLBelcher commented on #21
Second, the bolding is working now. We get it on more than one word and different words.

[2020-03-06 15:51] WendyLBelcher commented on #21
-[ ] Treat "{...}" as no space at all? (Or, already is?)

To explain, it's amazing how it ignores all irrelevancies.  So, dumping the whole incipit in, as is, doesn't harm it (including Latin letters and my accidentally including that first word, which is not part of the string).
አሜን፨ ተብህለ፡ ሶበ፡ ፈቀዱ፡ አሐው፡ ከመ፡ ይትጋብኡ፡ ኀበ፡ መ(f. 46ra){lac.} {lac. [4/5 lines]}መ፡ አፍ{n.l.* }ቶሙ፨ ወእም{n.l.* }ራነ፡ ዘመድ፡ ይ{n.l

[2020-03-06 16:31] WendyLBelcher commented on #21
Fourth, I'm studying this result. Not that anything is wrong, just trying to understand why certain sentences some up higher than others. I would have thought that the IDs with the first word first would have come up higher in the results. But, does 535 come up highest because ፈቀዱ፡ is a more unique term than ተብህለ፡? If so, that's cool.
![Screenshot testing incipit 3 6](https://user-images.githubuse

[2020-03-06 16:35] WendyLBelcher commented on #21
Fifth, re synonyms, maybe it does help to have them. Maybe, in particular "1 and one" of "፩ and አሐዱ፡" which will be the most common substitution. Or, did you say you can't do it with single characters?

[2020-03-06 16:38] WendyLBelcher commented on #21
Sixth, it looks like the phrase boosting is really working, which is awesome. You can see up to four words in a row clustered
![Screenshot testing incipit 3 6 b](https://user-images.githubusercontent.com/56000106/76102991-e2a29a00-5f9e-11ea-9ff9-ad5500d06931.png)

[2020-03-06 16:58] WendyLBelcher commented on #21
- [ ] Don't boost score if word appears twice.

Seventh, I'm analyzing the boosting of results with incipits that have a search word/phrase twice. to test, I did a search for the two words that probably appear together most in all of the incipits: ለእግዝእትነ፡ ማርያም (OurLady Mary). It yields lots of results, 260 incipits. In reality, one would never search only on these two words, they are too common.

[2020-03-06 17:42] WendyLBelcher commented on #21
- [ ] Wendy, add in "Maryam" in Jeremy's incipits.

Eighth, I need to test with Vita to properly understand what will work, so this will be my last observation. Jeremy truncated some of the incipits, leaving out "Mary" so if we return that word, it will help our searches. But, in this search, why is the score for Macomber 204 so much lower than the three Macomber 19s? 204 actually has more words.

[2020-03-07 19:54] WendyLBelcher commented on #21
Nine, if it helps, I will explain one incipit search of three incipit searches that didn't quite work. This incipit below should yield a result of Macomber ID 138
ወኮነ፡ ፩ዲያቆን፡ ውስተ፡ ሀገረ፡ ደሴት፡ ወኮነ፡ ዘማዌ፡ ወብዙኅ፡ ኀጢአቱ፡ ወ(f. 9rb)ባሕቲቱ፡ ኮነ፡ ያፈቅራ፡ ለማርያም፡ እመ፡ ብርሃን፡ ወኮነ፡ ወትረ፡ ይጼሊ፡ እንዘ፡ ይብል፡ በትሑት፡ ልብ፡ በከመ፡ ብእሴ፡ ኃጥእ፡ ሰላም፡
Using too many words or too little words posed an equal problem. In this case, using the fi

[2020-03-07 20:19] WendyLBelcher commented on #21
Ten, wow! Out of 17 incipits we tested, 11 worked perfectly. That is, dumping in the entire incipit resulted in the first result being right!

Just in case it is useful, here they are:
This incipit should yield a result of Macomber ID 139.
ወሀሎ፡ ፩፡ መስተፅዕነ፡ ፈረስ፡ ዘስሙ፡ ኒቆዲሞስ፤ ኃጥእ፡ በኵሉ፤ ፍናዊሁ፡ ዓለማዊት፨ ወባሕቱ፤ ጸጋ፤ እግዚኣብሔር፤ ወስእለተ፡ እግዝእትነ፡ ማርያም፡ መርሐቶ፡ ኃበ፡ መድኃኒተ፡ ነፍሱ፡ ወነስሐ፡ በእንተ፡ ኃጢአቱ።
When I dump the whole th

[2020-03-07 20:21] WendyLBelcher commented on #21
- [ ] Test whether hyphens or letters in Macomber ID's throwing things off.

In the three remaining cases, the incipit search should result in a Macomber ID with a hyphen, 141-A, 35-A1, 35-A2. However, no matter what, those IDs never showed up in the results at all ever. That is, an ID with a hyphen never came up as any result. Which makes me think that the hyphen is throwing things off?

[2020-03-09 16:04] rlskoeser commented on #11
Revised to correct the repository mapping and correct logic for repeating manuscripts when manuscript name/repository does not repeat.

[2020-03-09 18:40] rlskoeser opened #30 "As a researcher, I want high-confidence incipits from Google Sheets automatically indexed into the incipit search tool so that my searches are based on current data."
## Notes for testing
Incipit data from the test spreadsheet **TEST PEMM 2020-02-21** should be indexed in the incipit search. Right now, the script is configured to run every 15 minutes.
Make changes in the spreadsheet and then check the incipit search after waiting an appropriate period.

- [x] if you add a new high-confidence incipit, it should be included in search results
- [x] if you add an i

[2020-03-09 19:19] rlskoeser commented on #21
@WendyLBelcher thank you for all your careful testing and detailed notes. I've gathered my comments and will respond to all your notes and questions here.

I checked, and **አሐው** doesn't occur anywhere in the incipits we have. I get the same exact results when I enter either of those words, so I think it is working as expected. Feel free to test again, especially if you can find an example where w

[2020-03-09 19:32] rlskoeser commented on #27
I forgot to respond to the comment about synonyms on #21 — moving here since this issue is specific to the synonyms.

Here's the [synonym configuration file](https://github.com/Princeton-CDH/pemm-scripts/blob/develop/solr_conf/conf/gez_synonyms.txt) I created based on the spreadsheet you provided. (I added the corresponding arabic numerals.) I _think_ that they are working as synonyms but not high

[2020-03-11 01:38] elambrinaki commented on #30
- [x]  if you add a new high-confidence incipit, it should be included in search results

Test 1
Added the following incipit "ተኣምሪሃ፡ ለእግዝእትነ፡ ቅድስት፡ ድንግል፡ ማርያም፡ ጸሎታ፡ ወበረከታ፡ ያሀሉ፡ ምስለ፡ ገብራ፡ {er. } ክርስቶስ፡ ወምስለ፡ ኵሎሙ፡ አግብርቲሃ፡ በነግህ፡ ወሠርክ። ለዓለመ፡ ዓለም፡ አሜን፨ ወሀለወት፡ አሐቲ፡ ቤተ፡ ክርስቲያን፡ በሀገረ፡ ሳም፡ ዘተሐንፀት፡ በስመ፡ እግዝእትነ፤ ቅድስት፡ ድንግል፤ በክልኡ፡ ማርያም፡ ወባቲ፡ ንዋየ፡ ብዙኃ፨ ወበአ(f. 23rb)ሐቲ፤ እመዋዕል፡ ተማከሩ፡ ፈያት፤ ከመ፡ ይሥርቁ፡ ንዋየ፡ ቤተ፡ ክርስቲያ

[2020-03-11 01:50] elambrinaki commented on #30
- [x] if you add an incipit that is not high confidence, it should not be included in search results

Test 1
Removed the confidence score from the added to PEM (PUL) 8, Miracle 24, canonical story 311, incipit. Ran the search for the whole incipit. 311 was no among the search results.

Test 2
For the added to AECE (HMML) 1, 17vb, canonical story 48, incipit, changed the confidence score from high

[2020-03-11 02:37] elambrinaki commented on #30
- [x]  if you change an existing incipit, that change should be visible in the search results

Deleted the last three words in the existing incipit (ንትመየጥኬ፡ ኀበ፡ ዜና፡ ነገር፡ ዘጽኑሕ፡ ለነ፡ በእንተ፡ መቅደስ፡ ዘሐነጸ፡ ሰሎሞን፡ ወልደ፡ ዳዊት፡ ይረድኦ፡ ኪራም፡ ወልደ፡ መበለት), EMML (HMML) 642, 74vb, canonical story 497.

Before the change, the search for the whole incipit was
![Test 2](https://user-images.githubusercontent.com/34317046/7

[2020-03-11 14:39] WendyLBelcher commented on #28
Out of scope, thus closed.

[2020-03-11 14:39] #28 closed, assigned to nobody

[2020-03-11 14:43] WendyLBelcher commented on #25
Out of scope, so closed.

[2020-03-11 14:43] #25 closed, assigned to nobody

[2020-03-11 14:44] WendyLBelcher commented on #9
It seems this Issue can be closed?

[2020-03-11 14:44] WendyLBelcher commented on #11
I believe this Issue can be closed.

[2020-03-12 00:36] elambrinaki commented on #30
- [x]  if you remove an existing incipit or mark it as not high confidence, it should be removed from search results

Test 1
Searched for the incipit from PEM (PUL) 8, Miracle 10: ff. 17vb-19va (ID 145)
፲፡ ተአምሪሃ፡ ለእግዝእትነ፡ ቅድስት፡ ድንግል፡ ማርያም፡ ጸሎታ፡ ወበረከታ፡ የሀሉ፡ ምስለ፤ ገብራ፤ {er. } ክርስቶስ፡ {er. } ለዓለመ፡ ዓለም፤ አሜን፨ ወሀሎ፤ ፩ቀሲስ፤ ውስተ፡ ፩፡ መካን፤ ኀበ፡ ሀለዉ፤ ብዙኀ፤ ሕዝብ፨ ወአል(f. 18ra)ቦ፤ ካልአ፡ ዘያአምር፤ ዘአንበለ፡ ቅዳሴሃ፤ ለማርያም፡ ወሠናይ፤

[2020-03-12 15:52] WendyLBelcher commented on #27
My only question is about the Arabic numerals. I'm not sure if we should do that? For instance, does that mean that the 19 in this incipit would be converted into Ge'ez: ሀለወት፡ አሐቲ፡ ብእሲት፡ ዘቦአት፡ ው(f. 19vb)ስተ፡ ቤተ፡ ሞቅሕ፤ ዘውእቱ፤ ጸማዕት፡ ይእቲ፤ ብእሲት ፨ ወሖራ፤ {er. } ኃቤሃ፡ ክልኤ፤ አሐተ፤ ውርዝዋት፤ በስኖን፤ ወልሂቃት፤ በምግባሮን፤ ከመ፤ የሐውጻሃ፤ ወሶበ፤ ርእየቶን፤ ተአምኃቶን፨…

[2020-03-12 16:01] WendyLBelcher commented on #21
[ ] Make sure all incipits are picked up from file of canonical incipits and appear in spreadsheet
This is the only incipit problem I still see. Once solved, we can close this issue.

For some reason, the incipits in Jeremy's file are not all coming through to the spreadsheet. Many of the ones with hyphens have no incipits in the spreadsheet, when they do appear in Jeremy's file

141 | ወሀሎ፡ አሐዱ፡ ኤ

[2020-03-12 16:03] rlskoeser commented on #27
@WendyLBelcher I think it only does individual tokens, which right now is only 1-5. It doesn't _convert_ it exactly, it just searches on all variants of that word.

I don't think there's likely to be any harm in including it, but I'd be glad to remove it because I'm not sure how helpful it is either.

[2020-03-12 16:05] #11 closed, assigned to rlskoeser

[2020-03-12 16:06] rlskoeser commented on #21
@WendyLBelcher I corrected the incipit file you gave me based on your findings before, but I haven't done a fresh conversion/import to confirm that it worked. Do you want to test this again?

[2020-03-12 16:07] WendyLBelcher commented on #21
that would be great.

[2020-03-12 16:08] WendyLBelcher commented on #30
Evgeniia tested these, found they all worked, so this issue can be closed.

[2020-03-12 16:08] #30 closed, assigned to rlskoeser

[2020-03-12 16:10] WendyLBelcher commented on #27
Okay, awesome. Let's leave as is, and I'm closing this issue.

[2020-03-12 16:10] #27 closed, assigned to rlskoeser

[2020-03-12 17:29] rlskoeser commented on #21
Closing based on past testing and conversation at project team meeting. (Reviewed the revised import with missing incipits and corrected one more stray id.)

[2020-03-12 17:29] #21 closed, assigned to rlskoeser

[2020-03-12 17:37] rlskoeser commented on #14
Tested together at meeting and could see Evgenia's edits from testing the incipit tool. No changes were committed over the last several hours when no edits had been made.

[2020-03-12 17:37] #14 closed, assigned to nobody

[2020-03-12 19:06] #9 closed, assigned to nobody

[2020-03-16 16:25] rlskoeser opened #31 "As a researcher, I want data from Google Sheets synchronized to a GitHub repository to include contributor information so that people working on the data get credit for their work."
## testing notes
There is a new **_contributor** sheet in the test spreadsheet that is used to map google email addresses to GitHub emails and usernames.
- [x] if you make a change and your information is in the contributor sheet, you should be listed as a co-author when the change is added to github
- [x] if you make a change and your information is _not_ in the contributor sheet, the changes sho

[2020-03-17 18:29] WendyLBelcher commented on #31
I tested the first item above. i couldn't test the second. I will ask Evgeniia to help me with the third.

[2020-03-17 19:09] elambrinaki commented on #31
The second condition is tested. It works -- no co-author message.

![Image 3-17-20 at 3 06 PM](https://user-images.githubusercontent.com/34317046/76892554-43648900-6861-11ea-899d-100faa541960.jpeg)

[2020-03-17 19:12] elambrinaki commented on #31
Since I am not a contributor, I cannot test the last item. Wendy and Rebecca should edit the file simultaneously, am I right?

[2020-03-17 19:51] elambrinaki commented on #31
As I am a contributor now, I tested the fist item -- it works.

[2020-03-17 22:21] elambrinaki commented on #31
Re co-authorship, only the last contributor is mentioned on Github.

Here some changes were Wendy's, some were mine. Wendy didn't receive any credit.

![Image 3-17-20 at 6 20 PM](https://user-images.githubusercontent.com/34317046/76907269-2d17f680-687c-11ea-9357-c023f86c4701.jpeg)

[2020-03-19 18:41] rlskoeser commented on #31
Tested again with multiple revisions by multiple users (over a longer time period) and the commit message included multiple users.
![Screen Shot 2020-03-19 at 2 40 41 PM](https://user-images.githubusercontent.com/691231/77102769-bac82300-69ef-11ea-8326-f3dbee96974c.png)

[2020-03-19 18:41] #31 closed, assigned to rlskoeser

[2020-03-20 20:00] rlskoeser commented on #23
Ansible deploys for qa and production are both working, and have been reviewed and merged.

[2020-03-20 20:00] #23 closed, assigned to nobody

[2020-03-20 20:01] rlskoeser commented on #3
I think the readme is in pretty good shape — updated for the change in approach to the appscript, and some details added for the python code.

[2020-03-20 20:01] #3 closed, assigned to nobody

[2020-03-24 21:24] #2 closed, assigned to rlskoeser

[2020-03-28 19:55] elambrinaki opened #34 "Manuscript Sheet validation correction"
1. Can you please remove validation from Century column? It is not working now, and we would like to have it in the text format.
2. Could you please correct validation for Date Range Start and Date Range columns? (both should allow any four digit number that starts with 1)
![Буфер обмена-1](https://user-images.githubusercontent.com/34317046/77867050-9d6f3200-7203-11ea-80de-1d700824f2ef.jpg)

[2020-03-31 16:22] rlskoeser commented on #34
Please test validation on this [test spreadsheet](https://docs.google.com/spreadsheets/d/1QgrpkYlsshG6sIlPXwtN-ZojOT4EPyHpnjyrK_D12gI/edit#gid=1231560155) (made as copy of the master data sheet with new data validation applied for testing.)

- [ ] century validation and formatting have been removed
- [x] date range start and end validation are now bound to the correct fields

[2020-03-31 16:55] elambrinaki commented on #34
Date Range Start/End columns are working great.

Century column validation is still in place.

[2020-03-31 17:33] rlskoeser commented on #34
@elambrinaki I didn't think about the fact that it wouldn't remove existing validation. To test that the updated code now doesn't add the century validation, please remove validation manually and change the formatting, then choose "Set up validation" from the PEMM menu. It shouldn't add any validation to the century column or change the formatting.

[2020-03-31 17:41] rlskoeser opened #35 "Bind regex validation by current row and column instead of hardcoded cell references"
Based on the changes in https://github.com/Princeton-CDH/pemm-scripts/commit/e9ffa01186b8cbd7a7016985ea3275a40b7bd28e it seems that we should be able to revise regex data validation to use current cell `row()` and `column()` instead of binding to the first cell in the range. This should allow us to consolidate validation rules for regular expression validations (e.g., manuscript date range start a

[2020-03-31 17:46] rlskoeser opened #36 "Protect spreadsheet header rows"
Per suggestion from @elambrinaki  - since we don't really want the headers to be change (and some things will break if the do), it would be helpful to have the header row on each sheet marked  as protected to avoid problems.

[2020-03-31 18:01] elambrinaki commented on #34
The century column is free of validation, and it is formatted as text.
Thank you!

[2020-03-31 18:49] #34 closed, assigned to rlskoeser, elambrinaki

[2020-03-31 22:35] elambrinaki opened #37 "Named range is based on the initial number of rows"
`story_instance__manuscript` is using the named range, but that’s currently defined as 'Story Instance'!A2:A7245 (7245 is the initial number of rows). After adding rows in the Story Instance sheet, the real range has changed, but `story_instance__manuscript` is still using the original one. This affects values in the columns that use `story_instance__manuscript`.

[2020-03-31 22:43] elambrinaki commented on #37
@rlskoeser updated `story_instance__manuscript` range. The formulas that use  `story_instance__manuscript` produce expected results.

[2020-03-31 22:43] #37 closed, assigned to nobody

[2020-04-27 15:53] elambrinaki opened #39 "As a researcher, I want a way to exclude high-confidence incipits from the Incipit Tool so that incipits entered with typos or mistakes are not included in the search."
We need a new checkbox column "Exclude from ITool" on the Story Instance sheet. A story might be High Confidence, but its incipit shouldn't go into the Incipit Search Tool (for example, it is shorten, or typed in with mistakes).

[2020-04-27 19:37] elambrinaki opened #40 "Grouping results by Macomber ID in the Incipit Search"
We want to have the search results grouped by story ID. Since only the first ten results are shown, one ID might crowd out all the alternatives (e.g., a story has ten incipits from different manuscripts, and all these incipits appear in the search results). With this feature, the search results will contain ten different IDs.

We expect that all incipits for one ID appear as subsets. Each such gro

[2020-04-29 18:04] elambrinaki opened #41 "Macomber incipits missing from incipit tool"
Macomber's incipits for ID 124 and ID 159 don't show up in the Incipit tool search results:

ID 124, EMML (HMML) 3872 (the source of Macomber incipit), ወሀሎ፡ አሐዱ፡ ሊቀ፡ ጳጳሳት፡ ዘስሙ፡ ባስልዮስ፡ ወውእቱ፡ ይጌሥጾሙ፡ ለአብዕልት፡ ወይቤሎሙ፡ ሀቡ፡ እምንዋይክሙ፡ ለነዳያን
ID 159, EMML (HMML) 7089, ወሀሎ፡ ደሴት፡ መንገለ፡ ባሕረ፡ ኢያሪኮ፡ ወሀለዋ፡ ህየ፡ ብዙኃት፡ መነኮሳይያት። ወእምኔሆን፡ አሐቲ፡ መበለት፡ ፈራሂተ፡ እግዚአብሔር፡ ወትትቀነይ፡ ለቤተ፡ ክርስቲያነ፡ እግዝእትነ፡…. ወትትለአክ፡ በእንተ፡ ምጽዋት፡ ወቍርባን፡

[2020-04-29 18:05] elambrinaki commented on #41
Trying ID 124:
![124](https://user-images.githubusercontent.com/34317046/80630623-8306bf00-8a22-11ea-9ea5-f8347a31625f.jpg)

Trying ID 159:
![159](https://user-images.githubusercontent.com/34317046/80630841-d6790d00-8a22-11ea-929b-13e187b9ee37.jpg)

Both IDs are on the Story Instance sheet, with the Macomber Incipit column checked, High Confidence score:

![124_sheet](https://user-images.githubuse

[2020-05-07 20:37] rlskoeser commented on #41
@WendyLBelcher @elambrinaki Sorry it's taken so long to get to this, I keep starting to look at it and then get interrupted by other work.

@elambrinaki the csv file you linked to was only used as an import source into the google sheets; the story instance sheet is the source for the incipit tool.

It finally occurred to me what could be causing this, and I just confirmed what the problem is. Hopi

[2020-05-15 22:53] elambrinaki commented on #41
@rlskoeser @WendyLBelcher Hi Rebecca, I decided to make a note here in addition to our talk in Slack.
Yes, adding a story ID (Macomber ID) to the manuscript number and folio start number will be enough. You found a perfect solution, thank you!

[2020-05-18 13:33] elambrinaki opened #42 "Manuscript sheet, Date Range field validation"
Hi Rebecca @rlskoeser!
I'm having trouble with Date Range Start/End fields on the Manuscript sheet. I cannot enter 4-digit years in the new rows (and for some old records, there is a flag "This cell's content violates its validation rule").
We had this problem before, and you fixed the code (there was a wrong column in the validation rule) and we run the PEMM script to set up the new validation. C

[2020-05-18 15:54] rlskoeser commented on #42
@elambrinaki would you try re-applying validation from the PEMM menu to see if that solves this problem?

[2020-05-18 16:35] elambrinaki commented on #42
@rlskoeser I did. It doesn't seem to solve the problem.

[2020-05-18 16:57] elambrinaki opened #43 "Changing Named ranges"
When I reapplied validation from the PEMM menu, the data on other sheets shifted. I think it is because named ranges are definied without $ sign, and since I added rows at the beginning, the named ranges shifted (for some fields, they now begin from row 3 or 4 instead of row 2).

[2020-05-18 16:59] rlskoeser commented on #43
I have a potential fix for that #35 — but I thought we agreed to add unmanaged columns at the end of managed columns?

[2020-05-18 17:12] elambrinaki commented on #43
@rlskoeser Right, all new columns are at the end, But for rows, we didn't make the same agreement. So I add rows not only at the end, but anywhere I need them.

[2020-05-18 17:14] rlskoeser commented on #43
Sorry, I didn't read carefully enough! It didn't seem like adding rows wouldn't be a problem, but if you added them before the first entry then it could indeed mess up the reference.

[2020-05-18 17:34] rlskoeser commented on #39
@elambrinaki where in the column order should this be added? It makes sense to me to put it after the confidence score.

We've kept the setup code deliberately simple, so it doesn't modify the rows or columns, it just adds the headers and named ranges and applies validation. I think the simplest approach for now would be to manually add the column where we want it and then run the setup script — d

[2020-05-18 18:12] rlskoeser commented on #43
@elambrinaki sorry, I don't understand what you're asking us to do. If you run the "setup sheet" command it will redefine the ranges — does this help any?

[2020-05-18 20:25] rlskoeser commented on #39
Have copied current master spreadsheet and applied new code to test.
Please test on [this test spreadsheet](https://docs.google.com/spreadsheets/d/19Y0XYKBySobV1dmYnVKqjzp1Z_F21321a5saSAQlUVE/edit#gid=1231560155).
Run through these steps to apply the new code:
- Manually add a new column on the story instance sheet before the Notes
- Use PEMM menu -> setup all sheets
- Use PEMM menu -> setup valid

[2020-05-18 20:26] rlskoeser commented on #35
I have revised the formulas for all regex validation so they should be less brittle with changes to row/column order. This should resolve the problem reported in #42

Please test on [this test spreadsheet](https://docs.google.com/spreadsheets/d/19Y0XYKBySobV1dmYnVKqjzp1Z_F21321a5saSAQlUVE/edit#gid=1231560155) _after_ you have applied the new setup and validation steps in #39 ; check the following:

[2020-05-18 20:29] elambrinaki opened #44 "Include help text in the schema file and automatically add as notes to headers"
Currently we have notes explaining the purspose of columns on a second row, below column headers. We want to add these notes to the schema file in the code so that they could be applied directly to the header row when we run the setup sheet step. For this, Rebecca will put the code into a brunch.

We want to test whether we can edit notes that are automatically created. We can use notes on the Sto

[2020-05-18 20:45] rlskoeser commented on #44
- [x] Review [schema.json file](https://github.com/Princeton-CDH/pemm-scripts/blob/develop/src/schema.json#L5-L38) to see how notes have been added for the story instance fields.
- [x] Check for notes on story instance sheet after running setup step.
- [x] Check that headers on other sheets do not have comments

[2020-05-18 21:07] rlskoeser commented on #41
The [test incipit search tool](https://test-pemm.cdh.princeton.edu/) and test indexing have been linked to the [new test spreadsheet](https://docs.google.com/spreadsheets/d/19Y0XYKBySobV1dmYnVKqjzp1Z_F21321a5saSAQlUVE/edit#gid=1274751673) and indexing has been updated.

Please confirm that the missing incipits are findable now that we've changed the unique to ensure it's unique.

[2020-05-19 11:06] elambrinaki commented on #39
Everything works!

New column has been added with the right format:
![Exclude from ITool](https://user-images.githubusercontent.com/34317046/82319112-04f16480-999f-11ea-980b-6577967ab188.jpg)

Testing ID 136 from newly cataloged mss EMML 9002:
![ID 136 from EMML 9002](https://user-images.githubusercontent.com/34317046/82319176-1dfa1580-999f-11ea-978e-6e43c79aaea6.jpg)

Testing excluding original M

[2020-05-19 11:26] elambrinaki commented on #35
- For latitude on the Collection sheet, the regex formula is "^-?(([1-8]\d(\.\d+)?)|90(\.0+)?)$"
This doesn't cover latitude values between 9 and 10 and between -10 and -9.
I think this formula would work: "^-?(([1-8]\d?(\.\d+)?)|9(\.\d+)?|90(\.0+)?)$"

- The help text for Macomber ID says:

But "-A1" is also allowed

Everything else looks great.

[2020-05-19 11:27] elambrinaki commented on #42
It works!

[2020-05-19 11:27] #42 closed, assigned to nobody

[2020-05-19 11:31] elambrinaki commented on #43
@rlskoeser Indeed, in the [test PEMM sheet](https://docs.google.com/spreadsheets/d/19Y0XYKBySobV1dmYnVKqjzp1Z_F21321a5saSAQlUVE/edit#gid=1282213332) after running the setup sheet the named ranges look good:

![Named ranges](https://user-images.githubusercontent.com/34317046/82321366-bba31400-99a2-11ea-8726-441cd981def2.jpg)

[2020-05-19 11:31] #43 closed, assigned to nobody

[2020-05-19 11:55] elambrinaki commented on #41
I can confirm that.

[2020-05-19 11:55] #41 closed, assigned to rlskoeser

[2020-05-19 12:04] elambrinaki commented on #44
@rlskoeser I also removed the note for the Manuscript column to see whether it would cause problems for the Incipit Search Tool (and edited the note for the Folio Start column).

Editing seems to be harmless, the ITool keeps working.

[2020-05-19 17:54] rlskoeser commented on #35
Yes, I think -A1 and -A2 are both meant to be allowed — we just didn't enumerate all the possibilities in the help text. Do you want to suggest a revision?

It looks like the regex is taken directly from an [accepted Stack Overflow answer](https://stackoverflow.com/a/18690202/9706217) so I'm a little surprised if it doesn't work! I think your formula allows numbers over 90.

@thatbudakguy do you r

[2020-05-19 18:46] thatbudakguy commented on #35
don't remember why it was a regex to begin with; maybe I was worried about the signed numbers or presence of a degree symbol? in any case, just tried out `requireNumberBetween` and it seems to work fine, so let's switch to that - seems less error-prone.

[2020-05-19 19:06] rlskoeser commented on #44
@elambrinaki how do you want to proceed with this one? Do you want me to add the other notes?

[2020-05-19 19:07] rlskoeser commented on #39
@elambrinaki great, so can this be closed?

[2020-05-19 20:24] elambrinaki commented on #39
Yes!

[2020-05-19 20:24] #39 closed, assigned to rlskoeser

[2020-05-19 20:52] #44 closed, assigned to rlskoeser

[2020-05-20 18:39] rlskoeser commented on #35
@elambrinaki have updated the QA/Test spreadsheet we have been using with revised code. Please use the PEMM menu to re-apply validation and then check:
- [x] macomber id help text has been revised
- [x] latitude validation (now a numeric range)
- [ ] longitude validation (now a numeric range)
- [x] list of regions on story origin has been updated as requested

[2020-05-22 00:30] elambrinaki commented on #35
@rlskoeser longitude validation: there is a missing "1" in the upper range (number between -180 and 80)

Thank you for everything else!

[2020-05-22 13:34] rlskoeser commented on #35
@elambrinaki thanks for catching! Have corrected and pushed the updated the code in the QATEST spreadsheet – please re-apply validation and confirm.

[2020-05-22 15:31] elambrinaki commented on #35
@rlskoeser Thank you!

[2020-05-22 15:31] #35 closed, assigned to rlskoeser

[2020-05-22 15:44] elambrinaki opened #46 "Expand options for Story Origin choices"
Please replace the previous options in the dropdown list for the Region column on the Story Origin sheet by the following:
Africa confirmed,Africa probably,Africa Egypt confirmed,Africa Egypt probably,Africa Ethiopia confirmed,Africa Ethiopia probably,Europe confirmed,Europe probably,Levant confirmed,Levant probably,Unknown,Other

[2020-05-22 15:44] #46 closed, assigned to nobody

[2020-05-22 15:44] elambrinaki commented on #46
(Done)

[2020-05-26 13:50] elambrinaki opened #47 "Rename Macomber Incipit to Canonical Incipit"
@rlskoeser May I please ask you to rename the **Macomber Incipit** column on the Story Instance sheet to the **Canonical Incipit**? Wendy has just found 45 new miracles (not used by Macomber), and we added another four earlier. So, the total number of non-Macomber canonical stories is already around 50 (out of 640 stories), i.e. a solid share. These stories need a canonical incipit, and we cannot

[2020-05-26 14:57] rlskoeser commented on #47
@elambrinaki this is the checkbox field, right? I don't remember what we were using that field for, I thought it was to track which incipits were from Macomber. Are you now using it for something else, so that you can designate the best or most representative incipit for a given story?

[2020-05-26 17:48] elambrinaki commented on #47
@rlskoeser Exactly! Canonical Incipit field would mean this is the most representative incipit (or one of several most representative incipits) for a story. Initially, Macomber incipits were the same as canonical incipits, but with new stories, Macomber incipits are a subset of canonical incipits.

Yes, this is the checkbox field. In terms of the code, I think during import records with Macomber I

[2020-05-26 18:24] rlskoeser commented on #47
@elambrinaki could you suggest revised help text for the renamed field? Currently I have this in the code:

[2020-05-26 18:43] elambrinaki commented on #47
@rlskoeser "The most representative incipit for a story (or one of several most representative incipits if a story has very distinct recensions)."

We'll be able to edit the notes anyway.

[2020-05-27 19:02] rlskoeser commented on #47
@elambrinaki sure, but it help us to have it documented in the code.

I've updated the qa test document we were using with this change. Would you re-run the setup and validation steps to confirm? It should:
- [x] use the new label
- [x] use the new help text
- [x] still apply formatting/validation to make it appear as a checkbox

[2020-05-28 11:53] elambrinaki commented on #47
@rlskoeser Everything looks right.

[2020-05-28 11:53] #47 closed, assigned to rlskoeser

[2020-06-01 18:16] kmcelwee commented on #40
### Preliminary questions
* What is an example of crowding out that we can test against?
* How might we need to change the UI to accommodate this feature?
* Additional params can be fed directly into the `get_results` function in `scripts/server.py`. Do we want to put in the additional parameters manually? Or do we want to go back to the `parasolr` package?

---

### Solr's group function

[Result

[2020-06-01 18:31] rlskoeser commented on #40
@kmcelwee thanks for these great notes and questions!

@elambrinaki @WendyLBelcher please provide a few examples of search text that show the problem documented in this issue.

@kmcelwee I had imagined grouping the results but still displaying multiple entries, e.g. as a nested list. @elambrinaki @WendyLBelcher for the searches where you get multiple matches for a single macomber id, do you still

[2020-06-01 18:31] rlskoeser commented on #40
@kmcelwee I would like to add the grouping functionality to parasolr, but it could make sense to prototype without that first. I'd imagined a `group_by` method that takes a field and sets the group and group.field parameters, and then possibly a grouped response object that handles the different result structure — or maybe the collapsed/expanded structure depending on which route we go. FWIW, as y

[2020-06-01 20:16] elambrinaki commented on #40
@WendyLBelcher @rlskoeser @kmcelwee Thank you for working on this feature!

I imagine grouping by Macomber ID only _if results appear together_ (as consecutive search results).
One Macomber ID (say, 500) might have three very different story versions (say, X, Y, and Z). Assume a story with Macomber ID 500, version X, appears in five manuscripts in our database, and incipits are very similar. These

[2020-06-01 20:51] rlskoeser commented on #40
@elambrinaki the grouping functionality needs an identifier to group things — when we discussed this feature before we'd discussed using the Macomber ID. The relevance will be the highest score within the group, as Kevin noted.  Unless there is another field to group them on that will do what you're proposing, I'm not sure how we can do that. Is the "version X" of the incipit you mention _exactly_

[2020-06-01 21:08] kmcelwee opened #48 "Update Readme to better reflect local environment setup"
Correct minor errors / collect directions from comments into readme for clearer and quicker environment setup.

[2020-06-01 21:32] elambrinaki commented on #40
@rlskoeser @WendyLBelcher
In my hypothetical example above, search results 1-5 (same ID, same version) and 10 (same ID, another version) should _not_ appear as a group. It needs to be a _cluster_ of results 1-5 and a _distinct_ result 10. This would allow me to see whether the story I'm testing is recension X or recension Y.

So I think we need a variable Story ID+recension ID to implement the gro

[2020-06-01 21:53] WendyLBelcher commented on #40
To be honest, I think the clustering might be tough. And, maybe not needed. I'm not sure. For instance, I did a search on the proper noun ደቅስዮስ. Two miracle stories have this name in it.  So, it might be 13 or it might be 474. So, it's correct for the tool to NOT group the ID 13's together, but to drop them lower, exactly as it did.
![Screenshot search tool](https://user-images.githubusercontent.c

[2020-06-01 21:59] elambrinaki commented on #40
@WendyLBelcher Wendy, it seems that the "Exclude from ITool" field will solve the problem with overcrowding (all ten search results corresponding to the same ID but from diffrent manuscripts). Should we recall this feature request?

[2020-06-02 16:18] kmcelwee opened #50 "Show 50 results instead of 10 for incipit search"

[2020-06-02 16:23] kmcelwee commented on #50
I hardcoded the parameter request as
[code]
because I couldn't find it exactly in `parasolr`. I did find in [L78 of `queryset.py`](https://github.com/Princeton-CDH/parasolr/blob/master/parasolr/query/queryset.py#L78) the following note:
[code]
So I assume that it's something that's come up before? Let me know if it's worth coding up a specific rows function in `parasolr`

[2020-06-02 16:50] elambrinaki commented on #50
Showing 50 results seems extreme to me :) A lot of them will be completely irrelevant. In addition, no one will ever scroll down to the bottom of the page, and thus no one will see our beautiful logo
![logo](https://user-images.githubusercontent.com/34317046/83546959-841e8680-a4cf-11ea-847a-451dc7ad0b40.jpg)

Can we discuss the appropriate number on Thursday?

[2020-06-02 17:52] rlskoeser commented on #50
@elambrinaki agreed that 50 is a lot. I wonder if 20 is a better number, but it does sounds like we should discuss our options and decide which approach to take — whether grouping results in some way, increasing the number of results.

[2020-06-02 17:53] rlskoeser commented on #50
@kmcelwee that's a reasonable solution. I think you should also be able to use array brackets / slicing notation on the result, but this seems clear to me.

[2020-06-02 19:50] #48 closed, assigned to nobody

[2020-06-02 20:13] kmcelwee commented on #40
@WendyLBelcher @elambrinaki Would you mind confirming whether or not this is an issue I should work on before talking on Thursday? And if so, would you mind confirming that this is in line with what you would like (I'll make sure that I'll only group if the version matches)

![Screen Shot 2020-06-02 at 4 09 48 PM](https://user-images.githubusercontent.com/26414213/83564944-88f13380-a4eb-11ea-9562-

[2020-06-02 20:16] elambrinaki commented on #40
@kmcelwee What does it mean "if the version matches"? What version?

[2020-06-02 20:24] kmcelwee commented on #40
@elambrinaki What I meant was I'll make sure to group by "Story ID+recension ID", not just Story id.

[2020-06-02 20:26] elambrinaki commented on #40
@kmcelwee Aha, got it!
I have an example that I want to discuss. I'll post it soon. Please wait for me before you begin working on this feature.

[2020-06-02 20:43] elambrinaki commented on #40
@kmcelwee @rlskoeser I am wondering whether grouping results will make them more sensitive to mistakes.

Assume we have the following search results:

![Regular view](https://user-images.githubusercontent.com/34317046/83567700-fd2dd600-a4ef-11ea-8a3c-de20664e552c.jpg)

The first record is a mistake (a cataloger mistyped 13). It is quite obvious in this view. So I will not assign ID 3 to the story

[2020-06-04 19:10] kmcelwee opened #52 "As a data editor, I want a way to create sheets that are ignored by the script that automatically synchronizes data to a git repository."
(Placed here instead of `pemm-data` to keep on ZenHub) Currently, we ignore the "_contributors" sheet when creating CSVs, but we also want to ignore "instructions". Instead of adding "instructions" to the list of ignored sheets, we should instead write a rule for github to ignore all sheets that start with an underscore, allowing @WendyLBelcher and @elambrinaki to experiment more freely.

[2020-06-04 19:18] kmcelwee opened #53 "Generate a data export to share with Hamburg BetaMasaheft project"
Let's try to keep this conversation here, so the information needed is in one place. Here are the preliminary questions I have:

1. What formats are required? Providing only XML is sufficient, correct?
2. Are there specific columns / sheets that should be excluded while exporting?
3. Is there any special cleaning that needs to be taken before sending it over?
4. Are there any resources you can poi

[2020-06-04 19:18] #50 closed, assigned to nobody

[2020-06-04 19:21] kmcelwee opened #54 "Create initial Frictionless Data schema files and data packages for pemm data files in the data repository"
https://frictionlessdata.io/

Start with the frictionless data [python datapackage library](https://github.com/frictionlessdata/datapackage-py#working-with-package) to infer schemas for the existing CSV files in the data repository that we care about, and then see how much clean up is needed.

[2020-06-04 19:31] kmcelwee opened #55 "Set up preliminary data validation"
Integrate basic error checks to catch mistakes that might come up with data entry

- [x] start with a CI task that runs [goodtables](http://frictionlessdata.io/tooling/goodtables/#check-it-out); prefer using GitHub Actions if we can

[2020-06-04 19:33] kmcelwee opened #56 "Make a programmer-friendly version of data imported from Google Sheets"
An opportunity to help introduce outside researchers to the data to perform NLP, data visualizations, etc. But more importantly, this preprocessing is necessary to allow robust data validation discussed in #55.

[2020-06-04 20:04] elambrinaki commented on #53
@kmcelwee
1 I am sure that yes, but I'll ask them to confirm that.
2, 3 We have temporary fields and sheets that will be deleted after we finish cataloging. Another question is whether we should send the full dataset (once completed) and let them choose what they need, or we should do cleaning beforehead. I have an idea about the information they collect, and I can select fields they do not need f

[2020-06-04 20:11] elambrinaki opened #58 "As a cataloger, I want to see which matches for my search are canonical incipits so I can use that to help decide which identifier to choose."
We need to add labels ("Canonical Incipit") to the search results that come from rows with the "Canonical Incipit" field checked.
## dev notes
- [x] update indexing script to index canonical incipit boolean field in Solr
- [x] update flask view to include canonical incipit field in Solr returned values
- [x] update flask template to display canonical incipit indicator based on the boolean

[2020-06-04 21:32] rlskoeser commented on #53
I think only a selection of PEMM data makes sense for them.

@elambrinaki it would be great if you want to ask them what their preference is. I would love it if there's a way for them to do any transformation work on their side. As we already have the data in structured form on GitHub, maybe they could just work from that if we work with them to determine what files and fields match their existing

[2020-06-05 00:50] elambrinaki commented on #55
@kmcelwee How does the test on whether a story is given a wrong ID work? Does it catch only cases when two stories with _exactly the same_ incipit are given different IDs, or can it also identify cases when two stories with _quite similar_ incipit are given different IDs? We are checking the former (column "Test for whether the incipit is not unique" on the Story Instance Sheet). Having a more com

[2020-06-05 14:14] elambrinaki opened #59 "As a researcher, I want the Macomber keywords from the structured text file added to Canonical Story data in Google Sheets to use as a reference when creating a standardized list of keywords"
Could you please help us with importing the Macomber keywords from the [Sublime Text file](https://github.com/Princeton-CDH/pemm-scripts/blob/master/data/macomber-miracles.txt) to the PEMM Google sheet? They can all go into a single field ("Macomber Keywords") on the Canonical Story sheet.
As an example, I added the keywords for ID 1-A:
![Macomber keywords column](https://user-images.githubusercon

[2020-06-07 13:30] elambrinaki commented on #58
For example, I have an incipit matching with the incipit from GEM (PUL) 17 50r (the first search result).

![ID 158 or 155](https://user-images.githubusercontent.com/34317046/83969887-80f51300-a8a0-11ea-9518-a2baf0e47a20.jpg)

However, this incipit was added by another cataloger; it is not the canonical incipit for ID 158. Because there are three ID 155 among the top five search results, I might b

[2020-06-07 16:02] elambrinaki commented on #58
The label could look something like
![Canonical Incipit label_3](https://user-images.githubusercontent.com/34317046/83973774-83626780-a8b6-11ea-9820-dc0935d8c0d5.jpg)

Copying Wendy's words: "It's important information, but we don't want to signal that it is the best somehow. So, in gray, to the right."

[2020-06-07 23:59] elambrinaki commented on #53
@kmcelwee @rlskoeser Pietro from Hamburg says that having csv files is enough for them. So we will keep working on the database, and once it is ready, Pietro will import the data.
Should I close the issue?

[2020-06-08 13:09] #53 closed, assigned to nobody

[2020-06-08 13:27] rlskoeser commented on #53
That's great @elambrinaki, glad to hear it. Yes, works for me to close this issue. I'm going to mark it as a "won't fix" since we're not actually implementing anything.

@elambrinaki has Pietro looked at the CSV files yet? It would be good to know sooner than later if he needs any additional information about the structure of the files.

[2020-06-08 13:46] elambrinaki commented on #53
@rlskoeser I think so. He knows that we match our manuscripts IDs to their IDs, and it is the only thing he finds crucial now.
Do you think there might be technical questions about the structure of the files Wendy and I won't be able to answer?

[2020-06-08 13:48] rlskoeser commented on #53
@elambrinaki no, just want to confirm we have the fields that he needs in a format he can use. The CSV files seem pretty straightforward to me and I think we've documented them fairly well, but if there is any work needed from my team I'd like to know now.

[2020-06-08 13:51] rlskoeser commented on #54
@kmcelwee updated the description with some notes. I'll be interested to see how similar (or not) the frictionless data schema is to the internal json schema file we used to generate the spreadsheet.

[2020-06-08 13:54] rlskoeser commented on #58
thanks @elambrinaki — I've revised the issue to rewrite as a user story, please check that it makes sense to you and captures the "why" of this feature (feel free to revise).

[2020-06-08 14:15] elambrinaki commented on #53
@rlskoeser I think we are good.

[2020-06-08 14:25] elambrinaki commented on #58
@rlskoeser Looks great! Thank you @rlskoeser

[2020-06-08 15:37] rlskoeser commented on #59
@elambrinaki have revised the issue to user story format, please revise and add the why/motivation

[2020-06-08 16:06] rlskoeser opened #60 "Experiment with jekyll/wax, PEMM CSV data, and PUL IIIF content"
Set up a preliminary jekyll/wax site using the data in the pemm-data repository and the PUL records that we can easily get IIIF manifests for.

- Follow [wax instructions] to create a preliminary site; don't worry about customizing beyond the basics, focus on getting PEMM data & PUL images loaded
- Make note of any problems or quirks, gaps in the instructions; consider opening issues on the wax gi

[2020-06-08 17:41] kmcelwee commented on #54
Sorry: We should have had the converstation here instead of https://github.com/Princeton-CDH/pemm-data/pull/2
To summarize that conversation:
* The schema.json was created and lightly edited
* RSK prefers that we not edit the JSON output by frictionless data
* It doesn't need to match the structure in `src/schema.json` exactly

---
I've committed and pushed new changes, but I've left the PR as a d

[2020-06-08 19:00] kmcelwee commented on #55
I've created a test script to migrate raw data to a new directory. You can read through it here https://github.com/kmcelwee/pemm-jupyter/blob/master/Follow%20schema%20when%20migrating.ipynb. This script uses the original schema to filter columns and removes empty rows.

Notes:
* Please forgive the pandas usage, I can go back and change if necessary
* It's easier to work off an existing file for th

[2020-06-08 19:38] rlskoeser commented on #55
For the first pass validation on continuous integration — probably makes more sense to use http://goodtables.io/

[2020-06-08 20:06] kmcelwee commented on #55
@rlskoeser I'm only just seeing "start with a CI task that runs goodtables; prefer using GitHub Actions if we can", I've very sorry about that

[2020-06-09 19:19] kmcelwee commented on #52
@WendyLBelcher @elambrinaki This worked as expected! Sheets starting with an underscore are ignored, as shown in the pemm-qa-data repo. RSK or I will need to delete instructions.csv and _instructions.csv from pemm-data the next time we deploy to production.

[2020-06-09 19:39] kmcelwee commented on #52
Hi @elambrinaki, please make sure this is working correctly!
- [x] Add two sheets to QA PEMM, one starting with and one not starting with an underscore.
- [x] Go to pemm-qa-data and confirm that the CSVs were appropriately synced
- [x] Document results

[2020-06-10 01:14] elambrinaki opened #61 "As a researcher, I want to have a map with Ethiopian locations to analyze how the stories disseminated over time and space"
**Motivation**
We need a map with Ethiopian locations that has two layers, one for manuscripts and one for stories.
The manuscripts map shows where the manuscripts came from. The stories map allows to select a miracle and a century and to view all locations in which that miracle was told in the chosen time period.
The manuscripts map shows the representativeness of the data we have. There might be

[2020-06-10 01:36] elambrinaki commented on #52
@kmcelwee In addition to instructions.csv and _instructions.csv, could you please also delete macomber_incipits.csv, _macomber_incipits.csv, and sheet2.csv from the pemm-data repo (Macomber Incipits sheet was added for cataloging and will be deleted later; sheet2 is no longer in PEMM)?

[2020-06-10 13:23] kmcelwee commented on #55
I’ve created a github actions workflow that runs goodtables on each CSV (without those row limits). https://github.com/Princeton-CDH/pemm-data/pull/3

The CLI in actions allows us to also error check along a schema; however, if we want to go that indepth with validation, we’ll need to go column by column with @WendyLBelcher  and @elambrinaki to answer the following questions.

* What kind of data

[2020-06-10 23:07] kmcelwee commented on #59
I just pasted the keywords into the column. I used a jupyter notebook to map the column's ids to the json I've just created in the attached PR. I then pasted the column into Sheets.

Hi @elambrinaki, would you mind:
- [x] Checking that the keywords line up in the spreadsheet? I triple checked, but it would be great to have fresh eyes on it. There are some Macomber IDs that do not have keywords.
-

[2020-06-11 13:42] rlskoeser commented on #59
@elambrinaki do you want to keep the Macomber Keywords after the notes column or would you prefer to have it before?

[2020-06-11 13:52] rlskoeser opened #63 "ignore empty rows skipped when synchronizing Google Sheets data to GitHub"

[2020-06-11 14:11] elambrinaki commented on #59
Thank you very much @kmcelwee! Everything looks great, you can close the issue.
@rlskoeser I think we can leave them after the Notes column. It is possible we will move the keywords the students generate to this sheet as well, so it would be nice to have Macomber keywords and the new list of keywords next to each other.

[2020-06-11 14:20] elambrinaki commented on #52
@kmcelwee It works as expected.
I added Testing Underscores and _Testing Underscores sheets.
testing_underscores.csv appears in the pemm-qa-data GitHub repository, _testing_underscores.csv does not.

[2020-06-11 14:20] #52 closed, assigned to kmcelwee

[2020-06-11 19:11] kmcelwee commented on #54
I think this was closed by https://github.com/Princeton-CDH/pemm-data/pull/4

[2020-06-11 19:20] rlskoeser commented on #54
Agreed.

[2020-06-11 19:20] #54 closed, assigned to rlskoeser, kmcelwee

[2020-06-11 19:22] rlskoeser commented on #63
Confirmed in qa that the latest code strips out empty rows as desired https://github.com/Princeton-CDH/pemm-qa-data/commit/3a17e17a0f9ce27dfa250c86b697aaad4d9d5827

[2020-06-11 19:22] #63 closed, assigned to rlskoeser

[2020-06-11 19:22] #59 closed, assigned to kmcelwee

[2020-06-11 19:25] kmcelwee commented on #55
This seems like it repeats #54, so I assume this is closed as well?

[2020-06-11 19:27] rlskoeser commented on #55
@kmcelwee I was thinking of keeping it open since we had ideas about other validation and reporting — but we could also close this task and make a new task (or tasks) for follow up. I'm fine with either, what do you think?

[2020-06-11 20:51] kmcelwee commented on #55
I feel like this issue is too vague to be useful, especially given what we know now. (And your original checklist on this is completed.) I think there are issues that will need to be created around data validation & report generation, but I think starting with fresh issues may be more useful. Or just rename this into an epic? You have a better idea of what the dev team thinks the life of an issue

[2020-06-11 20:55] rlskoeser commented on #55
@kmcelwee I expected we would add more items to the check list! But I agree, as it stands now this issue isn't useful. I think it makes sense to drop the "report generation" from the issue and close it.

[2020-06-15 02:35] elambrinaki opened #65 "As a cataloger, I want to see recension identifiers in the Incipit Search Tool so that I could find out not only a story ID, but also a recension"
About 50 Macomber IDs have two or three story variations. For each story variation, we have an incipit from Macomber. Newly cataloged stories always match one of the Macomber variations better than the other, and we want to record which one.

For this, we need to have both stories IDs and recensions IDs in the search. For example, ID 135 has two distinct versions. One version appears in manuscript

[2020-06-16 17:24] rlskoeser commented on #65
@elambrinaki thanks for all your work on this and for the details you've documented here.

I don't understand why you're adding a "story id with recension id" — don't we just need an optional recension id or label field that you would fill out for stories that have recensions?

@WendyLBelcher how do you normally refer to or differentiate recensions of the same story? Would it be best to use number

[2020-06-17 11:42] elambrinaki commented on #65
@rlskoeser I'm trying to make it as easy for catalogers as possible. In the Incipit Search Tool, they will just need to copy and paste the full line in the Macomber ID field instead of selecting a part with ID extension.
![Select](https://user-images.githubusercontent.com/34317046/84892155-10ea4800-b06b-11ea-858a-ff8434aafa97.jpg)
A field with ID+extension is easily convertable into a field with j

[2020-06-17 13:45] rlskoeser commented on #65
Thanks for explaining — this certainly makes sense in terms of labeling recensions, I can understand that you will need more information to come up with meaningful names.

@elambrinaki I understand better what you are trying to do and how you are approaching it.  just tested, and I can cut and paste two cells of tabular data into two cells in a google sheet. Would this work? A combined field can c

[2020-06-17 14:03] elambrinaki commented on #65
@rlskoeser This would be wonderful! Thank you for the suggestion.

A question about validation:
For example, ID 7 has two versions. For the records of ID 7 we create, we will find out the recension ID. But for all but one records of ID 7 from Macomber handlist, we wouldn't know the extension as we don't have the incipits of these stories, so they all will remain ID 7.
Is it possible to apply valid

[2020-06-17 14:17] elambrinaki opened #67 "As a researcher and database manager, I need to protect the records from accidental edits when multiple people are working in the Google sheet file"
@rlskoeser Is it possible to create protected ranges conditional on whom a particular manuscript is assigned?
For example, Wendy gives me EMML 1606 to work on. She records it on the _contributors sheet (we already have a text field for that, but we can make it a dropdown list of the manuscript names and call "Assigned manusctipt"). After that, all records on the Story Instance sheet with the manus

[2020-06-17 14:18] rlskoeser commented on #65
@elambrinaki yes, interesting! I don't know if there's a way to tell the goodtables validation tool to look for that, but if there isn't I don't think it would be hard for us to write as an additional check.

[2020-06-17 14:19] elambrinaki commented on #65
Great!

[2020-06-17 14:30] rlskoeser commented on #65
@elambrinaki please review the steps I've added to the issue description describing how I'm planning to implement this and make sure it sounds right to you. (Do you agree with the field names, order, help text? Any revisions?)

And please create a new issue to request the conditional validation you're suggesting.

[2020-06-17 15:04] elambrinaki commented on #65
@rlskoeser Does this bind us to using manuscript names as recensions ID names? Will we ask you to update validation and help text when we are ready to give meaningful names to recension IDs?

[2020-06-17 15:06] rlskoeser commented on #65
@elambrinaki yes, my suggested approach does. Is that too limiting? I suggest you use a new field for recension labels when you have them (and ideally it would be in one place and not repeated, so it might not belong on the story instance sheet — if it's part of the dataset at all).

[2020-06-17 15:11] WendyLBelcher commented on #65
@rlskoeser  @elambrinaki Sorry to be slow! Recensions often have to do with manuscripts. That is, the short Qemer stories all come originally from, say, MS X 272, and the long Qemer stories all originally came from MS Y 562. So, keeping recensions tied to manuscripts is a good idea. I do find ID 492 EMML 6085 super clunky, but I can't see a way around it.

[2020-06-17 15:21] elambrinaki commented on #65
@rlskoeser @WendyLBelcher Great!
To note, because of the institution abrreviation in a manuscript name, it would be even clunkier: ID 492 EMML **(HMML)** 6085

Rebecca, the proposed steps are clear to me!

[2020-06-17 15:40] rlskoeser commented on #67
@elambrinaki you can edit protected ranges to give specific people permission on them, but I don't see a way this can be done automatically. I found some references to conditional protection, but I don't see any examples of making it user-specific.

You could probably come up with a workflow where you do this manually, but it seems like it might be pretty cumbersome.

[2020-06-17 16:56] thatbudakguy commented on #67
We sort of do something like this when setting up the sheet, and it works via email.
https://github.com/Princeton-CDH/pemm-scripts/blob/7e771ca3cf8880247d9eb9234717a47f40d87bac/src/sheet.ts#L67-L73
Not quite sure how to do it automatically, but you might be able to use the "signals" system to check when new rows are added to a sheet containing emails/assigned manuscripts and do it that way? Defini

[2020-06-17 17:07] elambrinaki opened #68 "As a cataloger, I need to understand which stories have recensions and thus require an ID extension to be recorded"
We have a list of about 50 canonical stories that have very distinct recensions. For these IDs, we add a recension ID to the story ID, and catalogers need to record both. A cataloger will know from the Incipit Tool whether her story has an ID extension (the ITool shows a numerical ID for stories without recensions and a numerical ID plus a manuscript name for stories with recensions), but as an ad

[2020-06-17 17:11] elambrinaki commented on #67
@rlskoeser @thatbudakguy Thank you for the information!

[2020-06-17 17:11] #67 closed, assigned to nobody

[2020-06-17 18:22] rlskoeser commented on #67
@thatbudakguy whoa, yeah — so possible but probably pretty complicated.  I wonder if a database would be better for this? Much harder to change records you aren't actively working on...

[2020-06-17 18:23] rlskoeser commented on #55
Revising to reflect basic validation that's been implemented and closing, per conversation with @kmcelwee. We should make new issues with specific details about validation or reporting we plan to implement.

[2020-06-17 18:23] #55 closed, assigned to kmcelwee

[2020-06-17 18:28] thatbudakguy commented on #67
agreed. I'm not sure when or if we make the call to switch to a database, but it seems like we're assembling some good reasons lately.

[2020-06-17 19:47] rlskoeser opened #69 "research and prototype an approach for analyzing order of stories in manuscripts"
Notes from @elambrinaki on Slack:

I believe a quantitative approach to answer these sequence and relations questions has already been invented in the field. I haven't looked up literature yet, so if you know relevant sources, please direct us to them.

---

The data isn't quite ready for this analysis yet, but @elambrinaki guesses it will be in a few months; prototype an approach that can be adap

[2020-06-17 19:53] rlskoeser opened #70 "Revise schema and validation for added and revised fields"
Update our schema to reflect these new fields:
- ~update schema.json in pemm-scripts codebase and add any validation/formatting implied~
- [ ] update frictionless data schema in pemm-data repo and check validation

### Story Instance sheet
* Story Incomplete (boolean)
* Blank TM folios (text)
* Ethiopic Story Number (text)
* Story Variation (text)
* Body of story start folio & line (text)
* Miracl

[2020-06-17 19:58] thatbudakguy commented on #69
it seems like if you represent the order of miracles as a sequence of numbers (as you've done here), you can use the [levenshtein edit distance](https://en.wikipedia.org/wiki/Levenshtein_distance) between the sequence and the "canonical sequence" (1-2-3-4-5) to get a quick measure of divergence. for examples you listed:

- 1-10-3-4-5 has an edit distance of **1**
- 1-3-2-4-5 has an edit distance o

[2020-06-17 20:07] rlskoeser commented on #70
@elambrinaki thanks for the careful list in our meeting notes, it made it easy for me to add here. Please review to check that I've accurately documented the changes we agreed on.  (The recension id is tracked separately on #65 )

[2020-06-18 01:38] elambrinaki commented on #69
Thank you @thatbudakguy! Clustering in OpenRefine is a great idea.

[2020-06-18 01:52] elambrinaki commented on #68
I think that having validation in the recension ID field is enough. (But we need three conditions for validation: 1) recension id is in the list of manuscript id, 2) story id is one of those 50 ids with recensions, 3) incipit field is not empty.) A cataloger first will see something like ID 25 **EMML (HMML) 2052** in the Incipit Search Tool. If she still forgets to copy and paste the ID extension,

[2020-06-18 01:52] #68 closed, assigned to nobody

[2020-06-18 18:30] rlskoeser commented on #58
@elambrinaki this is available on the test site now — please confirm that it works as expected. To test thoroughly, probably a good idea to change some of the canonical incipit values in the QA TEST PEMM spreadsheet and confirm that the index is updated and they appear correctly.

[2020-06-22 02:06] elambrinaki opened #71 "Body of Story Start column position and validation"
In our stories, there are two beginnings: the beginning of _the whole miracle_, which includes the blessings and praise to Mary ("A miracle of Our Holy Lady, Virgin in two ways, Mary, Bearer of God..."), and the beginning of the _story account_ ("There was a pious monk...").

Our original plan was to use 1) the beginning of the _miracle_ to record the _folio, column, line_, and 2) the beginning of

[2020-06-22 13:43] elambrinaki commented on #58
The Canonical Incipit labels appear in the search.
![Canonical Incipit](https://user-images.githubusercontent.com/34317046/85292003-44611400-b469-11ea-917d-30ceae4ef702.jpg)

After editing the canonical incipit in the QA TEST PEMM spreadsheet, the updated incipit appears in the search with the canonical incipit label attached.
![Canonical Incipit_edited](https://user-images.githubusercontent.com/3

[2020-06-22 13:43] #58 closed, assigned to rlskoeser, elambrinaki

[2020-06-22 14:26] rlskoeser commented on #71
Adding this where you suggest makes sense, I can see how otherwise it is unlikely to get filled in. If you want to let the catalogers use their preferred format and just want this recorded so you can refer to it, that seems ok to me — you won't be able to do any calculations based on them, but maybe you could standardize them in OpenRefine later on when the cataloging is complete. If you go that r

[2020-06-22 14:28] rlskoeser commented on #61
Have determined that the data is not ready for mapping at this point. Recommend that the team use Palladio + OpenRefine for exploring the data when it is ready.

[2020-06-22 14:28] #61 closed, assigned to nobody

[2020-06-22 14:30] rlskoeser commented on #16
No longer makes sense to integrate the incipit tool into google sheets; having it as a standalone flask app that we can iteratively revise and refine has turned out to be a good solution.

[2020-06-22 14:59] #16 closed, assigned to nobody

[2020-06-22 15:21] elambrinaki commented on #71
To make it easier for catalogers is more important. Let's leave this field without validation then. Thank you very much for sharing your opinion.

[2020-06-22 15:59] rlskoeser opened #72 "As a data manager, I want to see alerts when the data does not pass validation checks so that I can fix validation problems quickly."
## dev notes
- [x] add slack notification to existing validation github actions
- [x] output errors in build for review
- [x] summarize errors when validation fails
- [x] link to build for error details
- [x] if no validation is done, check if schema is valid json and report as an error

[2020-06-22 18:14] elambrinaki commented on #70
@rlskoeser May I please repeat the list here with small changes:

**Canonical Story sheet**
- EMIP Summary (text, no validation)
- Hamburg Titles (text, no validation)
- Macomber Keywords (text, no validation)
- CSM Number (number, less than or equal to 420, help text “Must be a number from 1 to 420.”)
- Poncelet Number (number, less than or equal to 1783, help text “Must be a number from 1 to 178

[2020-06-24 20:42] rlskoeser commented on #70
@elambrinaki thanks for the updated list and for including all these details.  A few follow-ups:
- The Macomber and Delamarter Manuscript fields that you have listed as numeric and 0 or 1, shouldn't they be boolean / checkboxes ?
- We recently revised the latitude/longitude validation to be numeric instead of regex, makes sense to keep that?
- We could do a numeric range instead of regex for the l

[2020-06-25 01:07] elambrinaki commented on #70
@rlskoeser

- Macomber and Delamarter Manuscript fields. You are right, but one question so I understand better. What are the advantages of checkboxes compared to 0/1 dummy apart from checkboxes looking better?
- Latitude/longitude validation: makes sense to keep numeric.
- With numeric range for lines/columns, wouldn't it be possible to insert fractions? E.g. 5.7365 for the number of lines.
- Re

[2020-06-26 14:33] rlskoeser commented on #70
@elambrinaki thanks for the response.

On the boolean vs 0/1 — to me, a checkbox/boolean is more semantic, and I think it would be more efficient for people entering content in the spreadsheet (whether you're using mouse or keyboard should be one click or keystroke). I would think less error-prone too, but adding validation to require 0 or 1 should handle that. Checkboxes would also be consistent

[2020-06-26 15:18] elambrinaki commented on #70
Thank you @rlskoeser!

Got it re the boolean, I will change it.

Sounds great re working together on the technical columns next week! A side question: If you trust us in modifying the schema with new fields, how do you feel about also giving us rights to change the order of columns?

[2020-06-26 16:21] rlskoeser commented on #70
@elambrinaki great question — yes, we should empower you that way! We should discuss what exactly that looks like — but it's an excellent goal, especially as we wrap up this grant period, and I'm glad you brought it up.

[2020-06-29 18:21] kmcelwee commented on #69
First go at chart/stats generation on random data:
https://github.com/kmcelwee/pemm-jupyter/blob/master/Research%20Manuscript%20Order.ipynb

[2020-06-29 18:57] rlskoeser commented on #70
@elambrinaki FWIW, on the story origin sheet — it was our expectation (or at least it was mine) that you would use the town/country/continent as the location name. I've wondered why you're including the region in the name/label for the locations but never asked — was this important for how the catalogers are working with the locations? I would have thought it would be simpler to find locations by

[2020-06-29 18:58] rlskoeser commented on #70
@elambrinaki If all the Clavis IDs start with **CAe** you could think of leaving that out and making the field a pure numeric. Simpler for data entry and easier to work with (IDK how much you'll need to work with that field).

[2020-06-29 19:41] rlskoeser commented on #70
@elambrinaki I made a test copy of the PEMM spreadsheet so I could check the revised fields and they aren't quite matching up. Here's what I'm noticing, please let me know how you want me to adjust:
- manuscript: headers are off after **Century Numeric**
- canonical story: headers are off after **earliest attestation** and **total records**
- story instance: headers are off after **Best Incipit To

[2020-06-30 18:02] elambrinaki commented on #70
@rlskoeser I assume we would need to redefine the Named Ranges if we change the order of columns.

[2020-06-30 18:18] elambrinaki commented on #70
@rlskoeser  Yes, it was a miscommunication on our part. The location name is pulled from the Story Origin sheet to the Origin column on the Canonical Story sheet. But there, Wendy needs the information in the continent/country/town format. The focus is on whether a story is Arabic or European or Ethiopian, and a particular place is of secondary importance. The Origin column on the Story instance s

[2020-06-30 18:20] rlskoeser commented on #70
@elambrinaki if we use the google apps script code to apply the schema changes it will update the named ranges.  This was one of the things I've been wondering about — it seems that you have made a lot of these changes manually, but not all of them. Is it easier for you to make the changes manually or do you want one last scripted update to reflect the current structure that you want in the spread

[2020-06-30 18:25] elambrinaki commented on #70
@elambrinaki Re the Clavis IDs,
It seems that Hamburg team [care about](https://github.com/BetaMasaheft/Documentation/issues/1117) making the term "Clavis Aethiopica (CAe)" well-known and well-understood, so I think it would be better to keep their IDs intact. Their regular IDs (Hamburg IDs) also have text in them (they all begin with "LIT" for instance).

[2020-06-30 18:48] elambrinaki commented on #70
@rlskoeser Re the column headers being off:

****manuscript**: headers are off after Century Numeric**
The Century Numeric is a new (numeric) column. It is valuable on its own ("Century" is a text field for the dating information, and  "Century Numeric" gives a specific number), and it is also used for the new field "Earliest Attestation" on the Canonical Story sheet.

**canonical story: headers a

[2020-06-30 19:00] elambrinaki commented on #70
@rlskoeser Are you asking whether it is easier for us to create a column with validation in the Google sheet or update the google apps script code and then run PEMM --> Set up all sheet --> Set up validation?
In any case we need to update the code to reflect the changes we made, right?

[2020-06-30 19:51] kmcelwee commented on #69
Latest analysis has been pushed:
https://github.com/kmcelwee/pemm-jupyter/blob/master/Research%20Manuscript%20Order.ipynb

Later today or in the morning, I'll be setting up a google colab so that permissions / usability / dependencies are better standardized.

Reach out if there are specific research questions that I didn't answer!

[2020-06-30 20:09] rlskoeser commented on #70
@elambrinaki thanks for explaining the field mismatches. Should I add the fields you have explained above so that the schema matches the spreadsheet?

@elambrinaki yes, that's what I'm asking — creating columns & adding validation vs updating the apps script code and running the setup and validation steps.  We should decide at our next meeting what handing off the spreadsheet looks like; my curren

[2020-07-01 00:59] elambrinaki commented on #70
@rlskoeser Aha, I now realize that I haven't described one technical column I should have described because it is in the middle of active columns. I am sorry!
It is on the Story Instance sheet, called the Best Incipit Tool Match. The correct order of columns after the Notes field:

- Best Incipit Tool Match (text)
- Story Incomplete (boolean)
- Blank TM folios (text)
- Ethiopic Story Number (text)

[2020-07-01 01:02] elambrinaki commented on #70
@rlskoeser Yes, please add these fields to the schema.

Your plan to make further changes manually without running the script and then document them in the schema seems perfect to me.

[2020-07-01 01:11] elambrinaki commented on #70
@rlskoeser Earliest Attestation and Total Records on the Canonical Story sheet are auto-generated fields. Does it mean no validation is needed?

[2020-07-01 01:45] elambrinaki commented on #69
@kmcelwee Kevin, thank you very much!!
Could you please help me get started. Where can I run the code?

Re the Collocation matrices that show IDs that precede and follow other IDs. I should look at yellow dots on the diagram, right? Is there a way to get the information in a table format? For example, I would select the desired frequency (say, 80%) and have a two-column table with pairs of IDs in

[2020-07-01 12:47] kmcelwee commented on #69
- [x] I will be migrating to Google Colab, a platform that allows you to run python code in your web browser. I will share the link when I’ve finished migrating

- [x] I will turn collocation matrices into CSVs.
- [x] I will highlight the highest numbers that aren’t diagonal.

- [x] I will list the most popular sequences of length K that aren’t contiguous. So to see the most common pairs, we'll se

[2020-07-01 14:04] rlskoeser commented on #69
@kmcelwee thanks for all this work, it's cool to see some preliminary analysis of the data.

I noticed you are cloning the whole git repository to get the data file; wouldn't it be simpler to reference the current version of the CSV file from the git repository by URL ?

Some of your comments in the notebook reference the "ideal" order, what do you mean by this?

I see your comments about creating

[2020-07-01 14:08] rlskoeser commented on #69
On the unique integer id — am I right that you're using that to sort on canonical id? I'm not sure the order of canonical ids is actually meaningful, we'd need to ask Wendy about that.

[2020-07-01 14:23] kmcelwee commented on #69
Good point! When I had written that code, I didn't know if I would need the whole data set.

- [x] Replace git clone with a url request

That was just an assumption provided by Evgeniia in the research question. I use the functions like `is_continuous` and `is_reordered`, which assumes that there is some kind of "correct" order. This definitely warrants a larger discussion, but I'm not sure how to

[2020-07-01 14:26] rlskoeser commented on #69
Right, that was my concern about length. Would using percentages mitigate? i.e. some stories are always in the first half (third, quarter, whatever) of a sequence, others always show up towards the end of a sequence?

[2020-07-01 14:29] kmcelwee commented on #69
Wow, you had said that explicitly, I'm sorry I skimmed over that. Yes, I will look into how to create some kind of percentage-based approach. Granted, because it's continuous, it'll have to be some kind of heatmap-histogram, and I've never done that before, but I'll try that out!

- [x] heatmap histogram

[2020-07-01 14:58] rlskoeser commented on #69
My understanding of the research question is that there isn't a "correct" order per se, but there might be an order (or some set of sequences) that are very common, and they would like to figure out what that is. I think maybe the work you added on most common non-contiguous sequences might be getting at this question — how hard to expand and just find the most common sequences?

[2020-07-01 15:06] kmcelwee commented on #69
It's just removing an if-statement!
- [x] Remove if-statement that drops contiguous sequences when finding the most common K-grams

I'm sorry for the misunderstanding, these are the sections that rely on the assumption that there is a "proper" order:
* "What is the distribution of the Levenshtein edit distances?"
* "Can we categorize the different permutations?"

Let me know if there's a certain w

[2020-07-01 16:03] kmcelwee commented on #69
I have updated the Jupyter notebook with the new heatmap and the other small chores. To help remove some of the noise, I've assigned two thresholds that filter out manuscripts with fewer than 5 stories and stories with fewer than 5 appearances. These constants can be changed if necessary.

I've moved this notebook into Google colab. I've realized some long-term headaches that will come if we want

[2020-07-01 17:54] elambrinaki commented on #69
@rlskoeser @kmcelwee Thank you very much for the analysis and discussion!
I confirm what Rebecca is saying: the order of stories we are testing is not continuos. The canonical set of 33 miracles is
13, 187, 161, 162, 163, 19, 27, 33, 54, 153, 154, 16, 46, 43, 48, 59, 57, 61, 68, 82, 83, 99, 103, 112, 158, 140, 142, 7, 125, 152, 148, 236, 207. It is well-known, so we won't make any discovery by fin

[2020-07-01 18:03] thatbudakguy commented on #69
@elambrinaki just a question for my own understanding: is this set canonical in terms of its order, or just its membership? that is, is the order you listed also the canonical order, or is there no such thing as a canonical order - only a collection that includes the miracles listed above?

@kmcelwee there's [this python-levenshtein](https://pypi.org/project/python-Levenshtein/) package which I ha

[2020-07-01 18:19] WendyLBelcher commented on #69
Re the canonical set of 33 miracles. @elambrinaki has been working on this, so what I say here is before her analysis finds. This is always said, that these 33 miracles are canonical (appear in most all manuscripts), but we want to see if it is true. I believe it is canonical in membership, but I suspect it is simply those stories that are most often illustrated. Lots of stories are common and not

[2020-07-01 18:20] kmcelwee commented on #69
My action items from today's conversations:

- [x] 8 and 252 are shown to occur early in manuscripts, but that doesn't seem to be the case
- [x] Move analyses away from the incorrect assumptions about order
- [x] Try out Cython's Levenshtein.ratio()

[2020-07-02 00:25] elambrinaki commented on #70
**Manuscript sheet**

- [new] MS Status (dropdown: Complete,Irrelevant,Incomplete: almost done,Incomplete: being cataloged,Incomplete: has print catalog,Incomplete: not started,Incomplete: other,Unknown)
- [validation changed] Catalog Total Stories (text)
- [new] Include in the Analysis (boolean)
- [new] Century Numeric (auto-filled, so no validation?; expected output is a number)
- [name changed]

[2020-07-02 01:49] elambrinaki commented on #69
@thatbudakguy @WendyLBelcher  I should have said the canonical sequence. These 33 miracles appear in mss often and often in this order.
Many sequences of length 10 Kevin shown today are the pieces of this canonical sequence. Some mss in our database have this canonical sequence in perfect order, some with edits.

Another Macomber hypothesis is about an early collection from the time of Zar'a Ya'eq

[2020-07-02 13:34] elambrinaki commented on #70
@rlskoeser @WendyLBelcher Rebecca, thank you very much for allowing us to restructure our dataset! We are happy with its new look.

[2020-07-02 15:16] kmcelwee commented on #69
I think I've finished our latest action items. The latest version of the notebook can be found here on google colab:

https://colab.research.google.com/drive/1yRdN4dQtJJou1hJPJyEGVG7IfOkWwlO5?usp=sharing

As @elambrinaki and @thatbudakguy discovered, I had mislabeled the y-axis in the heatmap of story location. It's fixed in the latest update. And while I have put time into triple checking myself,

[2020-07-02 15:16] kmcelwee commented on #72
Addressed in https://github.com/Princeton-CDH/pemm-data/pull/6

[2020-07-02 15:38] rlskoeser commented on #69
@elambrinaki @WendyLBelcher do you want to take a look at Kevin's colab notebook linked above to see if you have any important questions or concerns that he needs to address in the code?

We included it on the meeting agenda for next week to discuss briefly to make sure you're comfortable working from this as a starting point when the data is ready for this kind of analysis, but we'd prefer to clo

[2020-07-02 16:01] WendyLBelcher commented on #69
I think because I wasn't tracking what was happening on Github, I'm coming to this completely fresh. It's extremely cool to see all this information depicted graphically!! Wow! So, my first question is if I wanted a jpg of these visuals, could I get them? I can't do screenshots as they are too big and couldn't figure out how to download otherwise. Second, I apologize if this has already been addre

[2020-07-02 19:07] kmcelwee commented on #69
I'm happy that you find these useful 😁I always find that making data visualizations and answering statistical questions are the most rewarding parts of compiling a dataset.  Hopefully as your dataset becomes more robust, you and other researchers can find other useful trends!

I saved all the charts as a png (along with other useful data), available on the folder icon on the left side of the scree

[2020-07-06 13:59] #56 closed, assigned to nobody

[2020-07-06 16:20] rlskoeser commented on #65
@WendyLBelcher @elambrinaki do you want this field named "Recension ID" (as we had previously called it when discussing how to implement) or "ID Extension" (as it is currently named in the spreadsheet)?  It doesn't matter to me, just want to be sure we use the field name you prefer.

[2020-07-06 16:24] WendyLBelcher commented on #65
@rlskoeser I like "Recension ID" over "ID Extension" but what do you think @elambrinaki ?

[2020-07-06 17:00] kmcelwee opened #73 "Standardize capitalization to title case in row headers"
Capitalize the following headers in the google sheet

[code]

And then update datapackage.json

[2020-07-06 17:04] kmcelwee opened #74 "Append "required" and "unique" constraints to datapackage fields"
FrictionlessData allows you to check that there are no empty cells in a column (required) and that all cells in a column contain different values (unique).

https://specs.frictionlessdata.io/table-schema/#constraints

[2020-07-06 17:06] kmcelwee opened #75 "Include high-level metadata for the entire package"
Note that the CSVs are generated via sync from Google Sheets

[2020-07-06 17:15] elambrinaki commented on #65
@WendyLBelcher @rlskoeser Recension ID! Thank you for noticing this, Rebecca!

[2020-07-06 17:17] rlskoeser commented on #65
Great! @elambrinaki do you want rename it in Google Sheets so we can work from that (or a copy of it)?

[2020-07-06 18:37] kmcelwee commented on #69
I've uploaded the useful jupyter notebooks to the drive here:
https://drive.google.com/drive/folders/1qfD61KABd_IgmEH37ZXNNm2BAGl1-N-O

Feel free to click "Open with Colab" on the notebooks in this github repository https://github.com/kmcelwee/pemm-jupyter if you'd like to make a personal copy and experiment.

[2020-07-06 18:37] #69 closed, assigned to kmcelwee

[2020-07-06 20:56] kmcelwee commented on #72
Closed by https://github.com/Princeton-CDH/pemm-data/pull/6

[2020-07-07 17:44] kmcelwee commented on #65
The to-do

Is addressed in this pull request: https://github.com/Princeton-CDH/pemm-data/pull/8

[2020-07-07 18:44] kmcelwee commented on #72
@elambrinaki This one is tricky to test. Don't feel limited by the checklist I've provided below.

Currently test messages are going to the ~#slack-webhook-test~ #pemm channel in the CDH slack.

- [x] Test that the link properly goes to the correct build in GitHub.
- [x] Download `error-summary` under "Artifacts" after following the link.
- [ ] Ensure that the format of `error-summary` is clear an

[2020-07-07 18:57] kmcelwee commented on #65
@elambrinaki I've just deployed to QA. There may be problems with syncing from the QA sheet, which I'm about to work through, but here's the testing checklist I put together:

- [x] Check that results without recension ids do not list "Recension:"
- [x] Compare Recension IDs in results with that in the google sheet and ensure that they are properly displayed together
- [x] Check that the results c

[2020-07-07 19:29] kmcelwee commented on #73
Corrected in github hand-off tutorial: https://github.com/Princeton-CDH/pemm-data/commit/11ae4a382a5d8926cada16c1792e7754c5733f23

[2020-07-07 19:29] #73 closed, assigned to nobody

[2020-07-08 12:33] elambrinaki commented on #72
@kmcelwee  To check the format of `error-summary` matches the Slack message, I want to view the goodtables reports with the new setup of 20 error messages shown. How do I run the test? (in the #pemm slack channel, there are links to reports with 5 error messages)

[2020-07-08 12:53] kmcelwee commented on #72
@elambrinaki I proposed the change to 20 on a branch, but just waiting on approval from @rlskoeser. Rebecca, for something small like this, should I merge w/o your approval? Or is it always safe to just wait?

[2020-07-08 13:02] rlskoeser commented on #72
@kmcelwee I apologize, I didn't see a review request. For trivial changes, I'm not even sure they need a PR. Changing a config value like this without changing any code logic doesn't require review.

[2020-07-08 13:44] kmcelwee commented on #72
When goodtables is fed an improperly formatted JSON, it exits as if everything passed, creates the output file saying it has 0 errors, and just outputs a warning in its output json:

[code]

**Option 1**
Precede everything with the following command:
[code]

This would stop the validation from executing. But no messages would be sent to Slack unless it was a pull request, but Evgeniia will probabl

[2020-07-08 13:54] rlskoeser commented on #72
Wow, their warning output really isn't that great, is it. And why is that a warning and not an outright error?

@kmcelwee could you revise your python script to detect nonstandard json output (absence of any validation information, I maybe) and then check the datapackage.json validity and send a slack alert with the json parsing error?  (Probably any case where we don't get validation output shoul

[2020-07-08 13:55] elambrinaki commented on #72
@kmcelwee Thank you for finding my error!

[2020-07-09 12:11] elambrinaki commented on #72
@kmcelwee Thank you very much for setting up the goodtables reports! With their help, I corrected several errors on the Manuscript and Canonical Story sheets. For these two sheets, I confirm the `error-summary` is clear and matches the Slack message.

For the Story Instance with 765 errors, having 20 errors shown in the report is not enough. Is it possible to increase the number of errors shown fo

[2020-07-09 13:17] rlskoeser commented on #72
@elambrinaki I noticed this when I was starting to setup the validation. Two options that have occurred to me so far:

1. Is there a simple way for you to make these identical rows unique? e.g., could you fill in preliminary miracle numbers now that can be checked/refined when they are cataloged?
2. We can turn off the duplicate row check in the goodtables validation — but as far as I can tell the

[2020-07-09 13:33] elambrinaki commented on #72
@rlskoeser @kmcelwee  Is increasing the number of reported errors to 1000 a possible solution?

[2020-07-09 13:35] rlskoeser commented on #72
@elambrinaki oh, I didn't comment on that part of your request but Kevin and I discussed it on Slack! Sorry.  I don't think the number of errors reported in the build should be capped. Kevin's going to work on making that config optional and then turn it off for you, so you'll see all the errors. (FWIW, I don't want him spending additional dev time on sorting the errors.)

[2020-07-09 13:37] kmcelwee commented on #72
@elambrinaki @rlskoeser I've just addressed ERROR_MAX in my latest commits to https://github.com/Princeton-CDH/pemm-data/pull/12 ✅

[2020-07-09 13:46] elambrinaki commented on #72
@rlskoeser @kmcelwee Perfect! Thank you very much!

[2020-07-09 15:29] kmcelwee commented on #71
@rlskoeser Safe to close?

[2020-07-09 15:29] kmcelwee commented on #70
@rlskoeser Safe to close?

[2020-07-09 15:32] #71 closed, assigned to rlskoeser

[2020-07-09 15:32] #70 closed, assigned to rlskoeser

[2020-07-09 15:33] kmcelwee commented on #72
Closed by...
* https://github.com/Princeton-CDH/pemm-data/pull/6
* https://github.com/Princeton-CDH/pemm-data/pull/12

[2020-07-09 15:33] #72 closed, assigned to kmcelwee

[2020-07-09 17:27] elambrinaki commented on #65
@kmcelwee Thank you very much! It works great and is very useful! The only minor thing is that pasting to the sheet requires pasting _values only_, simple Ctrl+V inserts story ID and recension ID into one cell.

[2020-07-09 18:13] kmcelwee commented on #65
Hm. That might be a Windows-specific thing. I just double checked on my Mac and it worked fine. If it's easier, I think Ctrl+Shift+V might be shorthand for pasting values only. If that's the only thing, I'm going to merge and deploy to prod. Let me know if that's a problem! 🚀

[2020-07-09 18:15] rlskoeser commented on #65
I tested this too — I don't know if behavior is different mac vs windows or different browsers, but I think you may want to use ctrl+shift+v anyway because otherwise you get the formatting from the result page, which you probably don't want.

[2020-07-09 18:15] elambrinaki commented on #65
@kmcelwee Yes, please merge and deploy!

[2020-07-09 18:17] elambrinaki commented on #65
@rlskoeser Good! We will be using Ctrl+Shift+V.

[2020-07-09 21:01] #65 closed, assigned to rlskoeser, kmcelwee

[2020-07-09 21:02] kmcelwee commented on #36
@rlskoeser didn't we do this to some degree? Or is this outdated?

[2020-07-09 21:04] rlskoeser commented on #36
We never integrated into the google apps script code (Evgeniia may have done it manually in the actual spreadsheet, I don't know).

[2020-07-09 23:06] elambrinaki commented on #36
@kmcelwee @rlskoeser Yes, the header row is a protected range in the PEMM Google sheet.

[2020-07-09 23:06] #36 closed, assigned to nobody

[2020-07-09 23:28] elambrinaki commented on #40
Decided not to do it.

[2020-07-09 23:28] #40 closed, assigned to nobody

[2020-07-10 16:32] kmcelwee opened #77 ""You called?""
If not in response to me, and no picture provided, ask for an image

[2020-07-10 16:49] kmcelwee commented on #77
I had the wrong zenhub open, I’m very sorry. This is for a personal project. Ignore me

[2020-07-10 16:49] #77 closed

[2020-10-21 14:45] rlskoeser opened #81 "Rename default branch from master -> main"

[2020-10-21 14:46] #81 closed, assigned to rlskoeser

[2022-10-10 20:22] #74 closed, assigned to nobody

[2022-10-10 20:22] #60 closed, assigned to nobody